<div *ngIf="report" class="report">
  <div *ngIf="tabs" class="report__tabs">
    <div *ngFor="let tab of tabs" class="report__tab" [ngClass]="{'report__tab-active':tab.active}" (click)="selectTab(tab)">{{tab.label}}</div>
  </div>
  <app-feature-report *ngIf="report.kind == 'feature' && selectedTab.label != 'Properties'" [report]="report"></app-feature-report>
  <app-set-report *ngIf="report.kind == 'set' && selectedTab.label != 'Properties'" [report]="report"></app-set-report>
  <div *ngIf="selectedTab.label == 'Properties'" class="form">

    <div *ngIf="report.path" class="form__group">
      <div class="form__group-field">
        <div class="form__label">
          Path
        </div>
        <div class="form__input form__disabled">
          {{report.path}}
        </div>
      </div>
    </div>

    <div *ngIf="( (report.browser) && (report.kind == 'feature') ) || ( (report.browser) && (report.kind == 'set' && report.inherit) ) " class="form__group">
      <div class="form__group-field">
        <div class="form__label">
          Browser
        </div>
        <div class="form__input form__disabled">
          {{report.browser}}
        </div>
      </div>
    </div>

    <div *ngIf="report.host" class="form__group">
      <div class="form__group-field">
        <div class="form__label">
          Host
        </div>
        <div class="form__input form__disabled">
          {{report.host}}
        </div>
      </div>
    </div>

    <div *ngIf="report.url" class="form__group">
      <div class="form__group-field">
        <div class="form__label">
          URL
        </div>
        <div class="form__input form__disabled">
          {{report.url}}
        </div>
      </div>
    </div>

    <div *ngIf="report.created" class="form__group">
      <div class="form__group-field">
        <div class="form__label">
          Date
        </div>
        <div class="form__input form__disabled">
          {{report.created | date:'mediumDate'}}
        </div>
      </div>
    </div>

    <div *ngIf="report.created || report.end" class="form__group">
      <div *ngIf="report.created" class="form__group-field">
        <div class="form__label">
          Start
        </div>
        <div class="form__input form__disabled">
          {{report.created | date:'mediumTime'}}
        </div>
      </div>
      <div *ngIf="report.end" class="form__group-field">
        <div class="form__label">
          End
        </div>
        <div class="form__input form__disabled">
          {{report.end | date:'mediumTime'}}
        </div>
      </div>
    </div>

  </div>
</div>

<div *ngIf="!report && panels.report.visibility" class="report">
  <div class="report__container">
    <div class="report__title">Report</div>
    <div class="report__message">Run a feature or a set to see results here.</div>
  </div>
</div>
