@import "../../styles/tabs.scss";
@import "../../styles/header.scss";
@import "../../styles/form.scss";
@import "../../styles/fonts.scss";

:host {
  display: flex;
  width: 100%;
}

.form {
  @include form;
  justify-content: flex-start;
  margin: 0px 10px;
  overflow-y: scroll;
  &__group-input {
    pointer-events: none;
  }
  &__label {
    min-width: 75px;
    font-size: $medium;
    background-color: $brand-blue;
  }
  &__input {
    font-size: $small;
    overflow-x: scroll;
  }
}

.report {
  display: flex;
  width: 100%;
  flex-direction: column;

  &__tabs {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
  }

  &__tab {
    @include tab;
    max-width: 50%;
    overflow-x: scroll;
    justify-content: flex-start;
    &-active {
      @include active;
    };
  }

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    display: flex;
    font-size: 30px;
  }

  &__message {
    display: flex;
    font-size: 18px;
    text-align: center;
  }
}
