<div class="form">

  <div *ngIf="type == 'feature'" class="form__group">

    <div class="form__group-field">
      <div class="form__label">Path</div>
      <div class="form__group-input">
        <input class="form__input" placeholder="Input Feature Path" [(ngModel)]="feature.path" [ngClass]="{'form__input-error': featurePathError}" (ngModelChange)="featurePathInput()">
        <div *ngIf="featurePathError" class="form__error">{{featurePathErrorMessage | titlecase}}</div>
      </div>
    </div>
  </div>

  <div *ngIf="type == 'phrase'" class="form__group">
    <div class="form__group-field">
      <div class="form__label">Phrase</div>
      <div class="form__group-input">
        <input class="form__input" placeholder="Input Phrase ID" [(ngModel)]="phrase.phrase" [ngClass]="{'form__input-error': phraseError}" (ngModelChange)="phraseInput()">
        <div *ngIf="phraseError" class="form__error">{{phraseErrorMessage | titlecase}}</div>
      </div>
    </div>
  </div>

  <div *ngIf="type == 'phrase'" class="form__group">

    <div class="form__group-field">
      <div class="form__label">Path</div>
      <div class="form__group-input">
        <input class="form__input" placeholder="Input Phrase Path" [(ngModel)]="phrase.path" [ngClass]="{'form__input-error': phrasePathError}" (ngModelChange)="phrasePathInput()">
        <div *ngIf="phrasePathError" class="form__error">{{phrasePathErrorMessage | titlecase}}</div>
      </div>
    </div>
  </div>

  <div *ngIf="type == 'set'" class="form__group">

    <div class="form__group-field">
      <div class="form__label">Name</div>
      <div class="form__group-input">
        <input class="form__input" placeholder="Input Set Name" [(ngModel)]="set.name" [ngClass]="{'form__input-error': setNameError}" (ngModelChange)="setNameInput()">
        <div *ngIf="setNameError" class="form__error">{{setNameErrorMessage | titlecase}}</div>
      </div>
    </div>
  </div>

  <div class="form__group-buttons">
    <button class="form__button" (click)="cancel()">Cancel</button>
    <button class="form__button" (click)="create()">Submit</button>
  </div>

</div>
