@import "../../styles/colors.scss";
@import "../../styles/buttons.scss";
@import "../../styles/fonts.scss";

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: white;
  color: $brand-black;
  align-items: center;
  box-shadow: 0 2px 5px 0 $brand-black;
  border-bottom-style: ridge;
  border-bottom-width: 3px;
  border-bottom-color: $brand-grey;
  min-height: 45px;

  &__seperator{
    height: 40px;
    width: 2px;
    background-color: $brand-dark-grey;
  }

  &__title {
    font-size: $biggest;
  }

  &__section {
    display: flex;
  }

  &__icon {
    padding:0px 10px;
    font-size: 26px;
  }

  &__item {
    @include button;
    display: flex;
    justify-content: center;
    font-size: $big;
    align-items: center;
    text-decoration: none;
    color: inherit;
    &-image {
      width: 35px;
      height: 35px;
    }
  }

  &__auth {
    background-color: $brand-blue;
    justify-content: center;
  }
}
