<div *ngIf="authService.isAuthenticated()" class="header">

  <div class="header__section">
    <div *ngIf="!menu" class="header__item" (click)="toggleMenu()" title="Menu">
      <i class="fas fa-bars" aria-hidden="true"></i>
    </div>
    <div *ngIf="menu" class="header__item" (click)="toggleMenu()" title="Back">
      <i class="fas fa-chevron-left" aria-hidden="true"></i>
    </div>
    <div *ngIf="menu" class="header__item" (click)="openModal('create')" title="Create">
      <i class="fas fa-plus header__icon" aria-hidden="true"></i>
    </div>
    <div *ngIf="menu && headerState == 'file'" class="header__item" (click)="openModal('copy')" title="Copy">
      <i class="fas fa-clone header__icon" aria-hidden="true"></i>
    </div>
    <div *ngIf="menu && headerState == 'file'" class="header__item" (click)="openModal('move')" title="Move/Rename">
      <i class="fas fa-pencil-alt header__icon" aria-hidden="true"></i>
    </div>
    <div *ngIf="menu && headerState" class="header__item" (click)="openModal('delete')" title="Delete">
      <i class="fas fa-trash-alt header__icon" aria-hidden="true"></i>
    </div>
    <div *ngIf="menu" class="header__seperator"></div>
    <div *ngIf="menu" class="header__item" (click)="openModal('queue')" title="Queue">
      Queue
    </div>
  </div>

  <div class="header__section">
    <a class="header__item" (click)="toggleReport()" title="Report">
      <i class="fas fa-tasks header__icon" aria-hidden="true"></i>
    </a>
    <a class="header__item" routerLink="/dashboard" title="Dashboard">
      <i class="fas fa-tachometer-alt header__icon"></i>
    </a>
    <a class="header__item" routerLink="/docs/start" title="Docs">
      <i class="fas fa-book header__icon" aria-hidden="true"></i>
    </a>
    <a class="header__item" routerLink="/settings/hosts"  title="Settings">
      <i class="fas fa-cogs header__icon" aria-hidden="true"></i>
    </a>
    <img class="header__item header__item-image" routerLink="/"  title="Home" src="/assets/codesigned_donut.png">
  </div>
</div>

<div *ngIf="!authService.isAuthenticated()" class="header header__auth"></div>
