<div class="form">

  <div class="form__group">

      <div class="form__group-field">
        <div class="form__label">Name/Path</div>
        <div class="form__group-input">
          <input class="form__input" placeholder="Input Source Path" [(ngModel)]="input" [ngClass]="{'form__input-error': inputError}" (ngModelChange)="onInputChange()">
          <div *ngIf="inputError" class="form__error">{{inputErrorMessage | titlecase}}</div>
        </div>
      </div>

  </div>

    <div class="form__group-buttons">
      <button class="form__button" (click)="cancel()">Cancel</button>
      <button class="form__button" (click)="delete()">Submit</button>
    </div>

</div>
