<div class="form">

  <div *ngIf="type == 'set'" class="form__group">

    <div class="form__group-field">
      <div class="form__label">Name</div>
      <div class="form__group-input">
        <input class="form__input" placeholder="Set Name" [(ngModel)]="set.name">
      </div>

      <div class="form__group-buttons">
        <div class="form__button" (click)="set.inherit = !set.inherit" title="Inherit?">
          <i *ngIf="set.inherit === true" class="fas fa-caret-square-down"></i>
          <i *ngIf="set.inherit === false" class="fas fa-caret-square-up"></i>
        </div>
      </div>
    </div>

    <div *ngIf="set.inherit" class="form__group form__group-container">

      <div class="form__group">
        <h3 class="form__group-title">Inherit</h3>
      </div>

      <div class="form__group-field">
        <div class="form__label">URL</div>
        <div class="form__group-input">
          <input type="text" [(ngModel)]="set.url" id="url" class="form__input" placeholder="Input URL" (ngModelChange)="fileChange('url', $event)">
        </div>
      </div>

      <div class="form__group-field">
        <div class="form__group-field">
          <div class="form__label">Browser</div>
          <select id="browsers" class="form__dropdown" [(ngModel)]="set.browser" (ngModelChange)="fileChange('browser', $event)">
          <option *ngFor="let browser of browsers" [value]="browser.name">{{browser.name | titlecase}}</option>
        </select>
        </div>

        <div class="form__group-field">
          <div class="form__label">Host</div>
          <select id="hosts" class="form__dropdown" [(ngModel)]="set.host" (ngModelChange)="fileChange('host', $event)">
          <option *ngFor="let host of hosts" [value]="host.name" (click)="hostChange(host)">{{host.name | titlecase}}</option>
        </select>
        </div>
      </div>
    </div>

  </div>

  <div class="form__group-buttons">
    <button class="form__button" (click)="cancel()">Cancel</button>
    <button class="form__button" (click)="submit()">Submit</button>
  </div>


</div>
