@import "../../../styles/fonts.scss";
@import "../../../styles/colors.scss";

:host {
  display: flex;
  flex-shrink: 0;
  margin-bottom: 20px;
}

.dashboard-environment {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;

  &__header {
    display: flex;
    align-items: center;
    font-size: $big;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    padding: 0 20px;
    border-bottom-color: $brand-grey;
    border-bottom-style: groove;
    border-bottom-width: 2px;
    border-top-color: $brand-grey;
    border-top-style: groove;
    border-top-width: 2px;
    background-color: $brand-dark-grey;
    color: $brand-white;
    cursor: pointer;

    &-main {
      display: flex;
      width: 300px;
      position: sticky;
      left: 0;
      background-color: $brand-dark-grey;
    }

    &-label {
      padding: 5px;
      background-color: inherit;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 250px;
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-number {
      padding: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      margin-right: 5px;
    }

    &-browsers {
      display: flex;
      flex-grow: 1;
    }

    &-browser {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
    }
  }

  &__message {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    font-size: $big;
    flex-grow: 1;
  }

  &__container {
    display: flex;
    flex-direction: column;
    border-left-width: 2px;
    border-left-style: groove;
    border-left-color: $brand-grey;
    border-right-width: 2px;
    border-right-style: groove;
    border-right-color: $brand-grey;
    border-bottom-width: 2px;
    border-bottom-style: groove;
    border-bottom-color: $brand-grey;
    margin: 0px 5px;
    box-shadow: inset 0px 0px 2px $brand-dark-grey;
  }
}
