<div *ngIf="environment" class="dashboard-environment">
  <div class="dashboard-environment__header" (click)="toggleVisibility()">
    <div class="dashboard-environment__header-main" [attr.title]="environment.name">
      <div class="dashboard-environment__header-number">#</div>
      <div class="dashboard-environment__header-label">
        {{environment.name | titlecase}}
      </div>
    </div>
    <div class="dashboard-environment__header-browsers">
      <div class="dashboard-environment__header-browser" *ngFor="let browser of environment.browsers">{{browser|titlecase}}</div>
    </div>
    <div class="dashboard-environment__header-icon">
      <i *ngIf="!environment.visible" class="fas fa-window-minimize"></i>
      <i *ngIf="environment.visible" class="fas fa-plus"></i>
    </div>
  </div>
  <div *ngIf="!environment.visible && environment.reports" class="dashboard-environment__container">
    <app-dashboard-set *ngFor="let set of getObjectKeys(environment.reports); let i = index;" [set]="{name:set,reports:environment.reports[set]}" [index]="i + 1"></app-dashboard-set>
  </div>
  <div *ngIf="!environment.visible && !environment.reports" class="dashboard-environment__message dashboard-environment__container">
    Uh-oh, there are no results for this environment.
  </div>
</div>
