<div *ngIf="file" class="form">

  <div *ngIf="file.path" class="form__group">
    <div class="form__group-field">
      <div class="form__label">
        Path
      </div>
      <div class="form__input">
        {{file.path}}
      </div>
    </div>
  </div>

  <div *ngIf="( (file.browser) && (file.kind == 'feature') ) || ( (file.browser) && (file.kind == 'set' && file.inherit) ) " class="form__group">
    <div class="form__group-field">
      <div class="form__label">
        Browser
      </div>
      <div class="form__input">
        {{file.browser}}
      </div>
    </div>
  </div>

  <div *ngIf="file.host" class="form__group">
    <div class="form__group-field">
      <div class="form__label">
        Host
      </div>
      <div class="form__input">
        {{file.host}}
      </div>
    </div>
  </div>

  <div *ngIf="file.url" class="form__group">
    <div class="form__group-field">
      <div class="form__label">
        URL
      </div>
      <div class="form__input">
        {{file.url}}
      </div>
    </div>
  </div>

  <div *ngIf="file.created" class="form__group">
    <div class="form__group-field">
      <div class="form__label">
        Created
      </div>
      <div class="form__input form__disabled">
        {{file.created | date:'M/d/yy, h:mm a'}}
      </div>
    </div>
  </div>

  <div *ngIf="file.modified" class="form__group">
    <div class="form__group-field">
      <div class="form__label">
        Modified
      </div>
      <div class="form__input form__disabled">
        {{file.modified | date:'M/d/yy, h:mm a'}}
      </div>
    </div>
  </div>

  <div class="form__group form__group-container">

    <div class="table__row table__row-header">
      <div class="table__cell table__row-header">#</div>
      <div class="table__cell">Associated Sets</div>
    </div>

    <div class="table__container">
      <div class="table__row table__row-selectable" *ngFor="let set of file.sets; let i = index">
        <div class="table__cell  table__cell-row-header">{{i + 1}}</div>
        <div class="table__cell">{{set}}</div>
      </div>
    </div>

  </div>

  <!-- <div class="test__menu-title">

    <div class="test__menu-title-group">
      Associated Sets
    </div>

    <div class="test__menu-title-group">
      <i class="fas fa-plus test__menu-button" title="Associate Feature to Set" (click)="associateFeature()"></i>
    </div>

  </div>

  <div *ngIf="file.sets.length > 0" class="test__list">

    <div class="test__item" *ngFor="let set of file.sets; let i = index;">
      <div class="test__item-group" (click)="navigateToSet(set)">
        <div class="test__item-number">{{i + 1}}</div>
        <div class="test__item-text">{{set}}</div>
      </div>
      <i class="fas fa-times test__menu-button" title="Dissociate from Set" (click)="dissociateFeature(set)"></i>
    </div>

  </div>

  <div *ngIf="file.sets.length === 0" class="test__menu-group-message">
    The feature file is not associated to any sets.
  </div> -->



  <div class="form__group-buttons">
    <button class="form__button" (click)="cancel()">Close</button>
  </div>

</div>
