@import "../../../styles/form.scss";
@import "../../../styles/test.scss";
@import "../../../styles/table.scss";

:host {
  display: flex;
  width: 100%;
  justify-content: center;
}

.form {
  @include form;
  overflow-y: scroll;
  height: 350px;
  padding: 5px;
  justify-content: flex-start;

  &__label {
    min-width: 100px;
  }

  &__group-buttons {
    position: sticky;
    bottom: -5px;
    flex-shrink: 0;
    width: 100%;
    background-color: white;
    z-index: 20;
  }

  &__button {
    z-index: 20;
  }

  &__input {
    user-select: text;
    overflow-x: scroll;
  }
}

.table {
  @extend .table;
  &__container {
    width: 100%;
  }
}
