@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

:host {
  display: flex;
  flex-grow: 1;
}

.dashboard-set {
  display: flex;
  box-shadow: 0px 0px 3px $brand-dark-grey;
  position: relative;
  margin: 20px;
  min-height: 100px;

  &__name {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: flex-start;
    word-break: break-word;
    width: 300px;
    white-space: nowrap;
    left: 0;
    z-index: 1;
    background-color: $brand-white;
    border-right-style: groove;
    border-right-color: $brand-grey;
    border-right-width: 2px;
    &:hover {
      cursor: pointer;
    }
    &-label {
      max-width: 250px;
      font-size: $medium;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__number {
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    background-color: white;
    min-height: 100%;
    margin-right: 5px;
    font-size: $big;
  }

  &__devices {
    display: flex;
    flex-grow: 1;
  }

  &__device {
    display: flex;
  }
}
