<div *ngIf="set" class="dashboard-set">
  <div class="dashboard-set__name" [attr.title]="set.name" (click)="openSet(set.name)">
    <div class="dashboard-set__number">{{index}}</div>
    <div class="dashboard-set__name-label">{{set.name}}</div>
  </div>
  <div *ngIf="set.reports" class="dashboard-set__devices">
    <div class="dashboard-set__device" *ngFor="let browser of getObjectKeys(set.reports);" (click)="openReport(set.reports[browser][0], $event)" [ngClass]="{'dashboard-set__device-hover':set['reports'][browser][0]}">
      <app-dashboard-table [setReport]="set.reports[browser][0]" [device]="browser"></app-dashboard-table>
    </div>
  </div>
</div>
