@import "../../styles/form.scss";
@import "../../styles/colors.scss";
@import "../../styles/buttons.scss";

:host {
  display: flex;
  width: 100%;
  justify-content: center;
}

.form {
  @include form;

  &__label {
    min-width: 100px;
    font-size: $biggest;
    padding: 25px 50px;
  }

  &__row {
    justify-content: center;
  }

  &__group-field {
    justify-content: center;
  }

  &__button {
    @include button;
    &:hover {
      background-color: $brand-blue;
    }
  }
}
