<div class="form">

  <div class="form__group">

    <div class="form__group-field">
      <div class="form__label">Welcome to Honeypy</div>
    </div>

    <div class="form__row">
      <div class="form__button form__button__default" (click)="authService.login()">Authenticate</div>
    </div>

  </div>

</div>
