<div class="form">

    <div class="form__group">
      <div class="form__group-field">
        <div class="form__label">Set Name</div>
        <div class="form__group-input">
          <input class="form__input" placeholder="Input Set Name" [(ngModel)]="setName" (ngModelChange)="resetSetNameInput()">
          <div *ngIf="setNameError" class="form__error">{{setNameErrorMessage | titlecase}}</div>
        </div>

      </div>

      <div class="form__group-field">
        <div class="form__label">Feature Path</div>
        <div class="form__group-input">
          <input class="form__input" placeholder="Input Feature Path" [(ngModel)]="featurePath" (ngModelChange)="resetFeaturePathInput()">
          <div *ngIf="featuresPathError" class="form__error">{{featuresPathErrorMessage | titlecase}}</div>
        </div>
      </div>

    </div>

    <div class="form__group-buttons">
      <button class="form__button" (click)="cancel()">Cancel</button>
      <button class="form__button" (click)="submit()">Submit</button>
    </div>
  </div>
