<div class="dashboard-table">
  <div *ngIf="setReport" class="dashboard-table__date">
    <div class="dashboard-table__date-shortDate">{{setReport.created | date:'shortDate'}}</div>
    <div class="dashboard-table__date-shortTime">{{setReport.created | date:'shortTime'}}</div>
  </div>
  <div *ngIf="setReport" class="dashboard-table__table">
    <div *ngFor="let featureReport of setReport.reports" class="dashboard-table__table-item" [ngClass]="getTableItemResult(featureReport)" (click)="openReport(featureReport, $event)" [attr.title]="featureReport.path" (contextmenu)="onRightClick(featureReport, $event)"></div>
  </div>
  <div *ngIf="!setReport" class="dashboard-table__table-empty">
    <i class="fas fa-times dashboard-table__table-icon fa-2x"></i>
  </div>
</div>
