@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

:host {
  display: flex;
}

.dashboard-table {
  display: flex;
  flex-direction: column;
  position: relative;
  border-right-color: $brand-grey;
  border-right-style: solid;
  border-right-width: 2px;

  &:hover {
    box-shadow: inset 0px 0px 3px $brand-dark-grey;
    cursor: pointer;
  }

  &__date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    z-index: 0;
    &-shortDate {
      font-size: $medium;
    }
    &-shortTime {
      font-size: $small;
    }
  }

  &__info {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px 10px;
  }

  &__table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 200px;
    overflow: scroll;
    padding: 20px 0px;
    min-height: 60px;

    &-item {
      width: 20px;
      height: 20px;
      margin: 2px;
      cursor: pointer;
      border-style: solid;
      border-width: 2px;
      &-blue {
        background-color:$lightBlue;
        border-color:$blue;
        &:hover {
          background-color:$blue;
        }
      }
      &-red {
        background-color:$lightRed;
        border-color:$red;
        &:hover {
          background-color:$red;
        }
      }
      &-purple {
        background-color:$lightPurple;
        border-color:$purple;
        &:hover {
          background-color:$purple;
        }
      }
      &-green {
        background-color:$lightGreen;
        border-color:$green;
        &:hover {
          background-color:$green;
        }
      }
      &-grey {
        background-color:$brand-grey;
        border-color:$brand-dark-grey;
        &:hover {
          background-color:$brand-dark-grey;
        }
      }
    }

    &-icon {
      color:$brand-grey;
    }

    &-empty {
      display: flex;
      flex-grow: 1;
      width: 200px;
      justify-content: center;
      align-items: center;
      border-right-color: $brand-grey;
      border-right-style: solid;
      border-right-width: 2px;
    }
  }
}
