<div class="hosts">

  <div class="hosts__container">
    <div *ngIf="!ifForm" class="hosts__table">

      <div class="table__header table__row">
        <div class="table__cell table__cell-header table__cell-row-header">Name</div>
        <div class="table__cell table__cell-header">Location</div>
      </div>
      <div class="table__container">
        <div *ngFor="let host of hosts" class="table__row table__row-selectable" [routerLink]="[host.name]">
          <div class="table__cell table__cell-row-header">{{host.name}}</div>
          <div class="table__cell">{{host.location}}</div>
        </div>
      </div>
    </div>
  </div>

</div>
