@import "../../../styles/colors.scss";
@import "../../../styles/buttons.scss";
@import "../../../styles/table.scss";

:host {
  display: flex;
}

.hosts {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__container {
    display: flex;
    width: 100%;
  }

  &__table {
    @extend .table;
  }
}

.table {
  @extend .table;
  &__cell {
    min-width: 300px;
    overflow-x: scroll;
  }
}
