<div class="tree" *ngIf="items">
  <div *ngFor="let item of items | sortSS" class="tree__item">
    <div (click)="clickNode(item, $event)" class="tree__item__node" (contextmenu)="onRightClick(item, $event)">
      <i *ngIf="item.type == 'folder'" [ngClass]="{'tree__icon': true, 'fa-folder-open':item.toggle, 'fa-folder':!item.toggle, 'fas':true}"></i>
      <i *ngIf="item.type == 'file'" [ngClass]="{'tree__icon': true, 'fa-file':true, 'fas':true}"></i>
      <i *ngIf="item.kind == 'set'" [ngClass]="{'tree__icon': true, 'fa-chevron-right':true, 'fas':true}"></i>
      <div class="tree__item__node__label">{{item.name}}</div>
      <div class="tooltip">
        <div class="tooltip__text">
          Right click for menu
        </div>
      </div>
    </div>
    <tree class="tree__directory" *ngIf="item.toggle && item.type == 'folder'" [items]="item.children"></tree>
  </div>
</div>
