<div *ngIf="!item.hasOwnProperty('result')" [ngStyle]="style" class="menu">
  <div class="menu__title">Menu</div>

  <div class="menu__item menu__item-enabled" (click)="new()">
    <i class="fas fa-plus menu__icon"></i>
    <div class="menu__item-label">
      New
    </div>
  </div>

  <div *ngIf="item && item.kind != 'set'" class="menu__item" [ngClass]="ifDisabled" (click)="copy()">
    <i class="fas fa-clone menu__icon"></i>
    <div class="menu__item-label">
      Copy
    </div>
  </div>

  <div *ngIf="item && item.kind != 'set'" class="menu__item" [ngClass]="ifDisabled" (click)="moveRename()">
    <i class="fas fa-pencil-alt menu__icon"></i>
    <div class="menu__item-label">
      Move/Rename
    </div>
  </div>

  <div *ngIf="item" class="menu__item" [ngClass]="ifDisabled" (click)="delete()">
    <i class="fas fa-trash-alt menu__icon"></i>
    <div class="menu__item-label">
      Delete
    </div>
  </div>

  <div *ngIf="item.type == 'file'" class="menu__separator"></div>

  <div *ngIf="item.type == 'file'" class="menu__item menu__item-enabled" (click)="newTab()">
    <i class="fas fa-external-link-alt menu__icon"></i>
    <div class="menu__item-label">
      New Tab
    </div>
  </div>

  <div *ngIf="item.kind == 'feature' && item.type == 'file'" class="menu__item menu__item-enabled" (click)="associate()">
    <i class="fas fa-plus menu__icon"></i>
    <div class="menu__item-label">
      Associate to Set
    </div>
  </div>

</div>


<div *ngIf="item.hasOwnProperty('result')" [ngStyle]="style" class="menu">
  <div class="menu__title">Set Menu</div>
  <div class="menu__item menu__item-enabled" (click)="newTab()">
    <i class="fas fa-external-link-alt menu__icon"></i>
    <div class="menu__item-label">
      New Tab
    </div>
  </div>
  <div *ngIf="item.hasOwnProperty('parentId')" class="menu__item menu__item-enabled" (click)="rerun()">
    <i class="fas fa-redo-alt menu__icon"></i>
    <div class="menu__item-label">
      Rerun
    </div>
  </div>
  <div class="menu__item menu__item-enabled" (click)="finish()">
    <i class="fas fa-check menu__icon"></i>
    <div class="menu__item-label">
      Force Finish
    </div>
  </div>
</div>
