@import "./colors.scss";
@import "./buttons.scss";
@import "./input.scss";

.dashboard {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 0px $brand-dark-grey;
    padding: 10px;

    &-group {
      display: flex;
      flex-grow: 1;

      &-right {
        display: flex;
      }
    }

    &-button {
      @include button-inverted;
      background-color: $brand-blue;
      padding: 8px 20px;
    }

    &-history {
      display: flex;

      &-label {
        border-radius: 3px;
        background-color: $brand-blue;
        padding: 8px 20px;
      }

      &-input {
        @include input;
        width: 40px;
      }
    }
  }
}
