@import "./colors.scss";
@import "./buttons.scss";
@import "./input.scss";
@import "./fonts.scss";

.view-header {
  display: flex;
  padding: 20px;
  width: calc(100% - 40px);
  align-items: center;
  max-height: 0px;
  font-size: $big;
  box-shadow: 0px 0px 3px $brand-black;
  justify-content: space-between;
  background-color: $brand-blue;
  color: $brand-black;

  &__title {
    display: flex;
  }

  &__grow {
    flex-grow: 1;
  }

  &__input {
    @include input;
    width: 500px;
    &:focus, &:hover {
      background-color: white;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 3px 1px $brand-dark-grey;
    margin: 0px 5px;
    background-color: $brand-white;
    @include button-inverted;
  }

  &__group {
    display: flex;
    align-items: center;
  }
}
