@import "./states.scss";
@import "./colors.scss";

@mixin button {
  cursor: pointer;
  padding: 5px 20px;
  border-radius: 3px;

  @include transition;

  &:hover {
    background-color: $brand-light-blue;
    color: $brand-black;
  }
  &__default {
    background-color: $brand-white;
  }
  &__primary {
    background-color: $brand-blue;
  }
  &__cancel {
    background-color: $brand-blue;
    &:hover {
      background-color: $brand-black;
      color: $brand-light-blue;
    }
  }
  &__green {
    background-color: $green;
  }
  &-disabled {
    background-color: $brand-white;
    &:hover {
      cursor: not-allowed;
      pointer-events: all;
      background-color: $brand-white;
    }
  }
}
@mixin button-inverted {
  @include button;
  background-color: $brand-blue;
  color: $brand-black;

  &:hover {
    background-color: $brand-dark-grey;
    color: $brand-blue;
    border-radius: 0px;
  }
  &__default {
    background-color: $brand-white;
  }
  &__cancel {
    background-color: $brand-dark-grey;
    color: $brand-blue;
    &:hover {
      background-color: $brand-black;
      color: $brand-blue;
    }
  }
}
