$color_1: black;
$color_2: #999;
$color_3: blue;
$color_4: #090;
$color_5: #d44;
$color_6: #292;
$color_7: #708;
$color_8: #219;
$color_9: #164;
$color_10: #00f;
$color_11: #05a;
$color_12: #085;
$color_13: #a50;
$color_14: #a11;
$color_15: #f50;
$color_16: #555;
$color_17: #30a;
$color_18: #997;
$color_19: #170;
$color_20: #00c;
$color_21: #f00;
$color_22: #0b0;
$color_23: #a22;
$color_24: inherit;
$font_family_1: monospace;
$font_family_2: inherit;
$background_color_1: white;
$background_color_2: #f7f7f7;
$background_color_3: rgba(20, 255, 20, 0.5);
$background_color_4: #7e7;
$background_color_5: transparent;
$background_color_6: #ffa;
$background_color_7: rgba(255, 255, 0, .4);

/* BASICS */
/* PADDING */
/* GUTTER */
/* CURSOR */
/* Shown when moving in bi-directional text */
@-moz-keyframes "blink" {
	0% {
	}
	50% {
		background-color: transparent;
	}
	100% {
	}
}
@-webkit-keyframes "blink" {
	0% {
	}
	50% {
		background-color: transparent;
	}
	100% {
	}
}
@keyframes "blink" {
	0% {
	}
	50% {
		background-color: transparent;
	}
	100% {
	}
}
/* Can style cursor different in overwrite (non-insert) mode */
/* DEFAULT THEME */
/* Default styles for common addons */
/* STOP */
/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */
/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
/* Force content-box sizing for the elements where we expect it */
/* Used to force a border model for a node */
/* Hide the cursor when printing */
/* See issue #2901 */
/* Help users use markselection to safely style text background */
.CodeMirror {
	font-family: $font_family_1;
	height: 300px;
	color: $color_1;
	direction: ltr;
	position: relative;
	overflow: hidden;
	background: white;
	pre {
		padding: 0 4px;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
		border-width: 0;
		background: transparent;
		font-family: $font_family_2;
		font-size: inherit;
		margin: 0;
		white-space: pre;
		word-wrap: normal;
		line-height: inherit;
		color: $color_24;
		z-index: 2;
		position: relative;
		overflow: visible;
		-webkit-tap-highlight-color: transparent;
		-webkit-font-variant-ligatures: contextual;
		font-variant-ligatures: contextual;
	}
	div.CodeMirror-secondarycursor {
		border-left: 1px solid silver;
	}
}
.CodeMirror-lines {
	padding: 4px 0;
	cursor: text;
	min-height: 1px;
}
.CodeMirror-scrollbar-filler {
	background-color: $background_color_1;
	position: absolute;
	z-index: 6;
	display: none;
	right: 0;
	bottom: 0;
}
.CodeMirror-gutter-filler {
	background-color: $background_color_1;
	position: absolute;
	z-index: 6;
	display: none;
	left: 0;
	bottom: 0;
}
.CodeMirror-gutters {
	border-right: 1px solid #ddd;
	background-color: $background_color_2;
	white-space: nowrap;
	position: absolute;
	left: 0;
	top: 0;
	min-height: 100%;
	z-index: 3;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.CodeMirror-linenumber {
	padding: 0 3px 0 5px;
	min-width: 20px;
	text-align: right;
	color: $color_2;
	white-space: nowrap;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.CodeMirror-guttermarker {
	color: $color_1;
}
.CodeMirror-guttermarker-subtle {
	color: $color_2;
}
.CodeMirror-cursor {
	border-left: 1px solid black;
	border-right: none;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.cm-fat-cursor {
	.CodeMirror-cursor {
		width: auto;
		border: 0 !important;
		background: #7e7;
	}
	div.CodeMirror-cursors {
		z-index: 1;
	}
}
.cm-fat-cursor-mark {
	background-color: $background_color_3;
	-webkit-animation: blink 1.06s steps(1) infinite;
	-moz-animation: blink 1.06s steps(1) infinite;
	animation: blink 1.06s steps(1) infinite;
}
.cm-animate-fat-cursor {
	width: auto;
	border: 0;
	-webkit-animation: blink 1.06s steps(1) infinite;
	-moz-animation: blink 1.06s steps(1) infinite;
	animation: blink 1.06s steps(1) infinite;
	background-color: $background_color_4;
}
.cm-tab {
	display: inline-block;
	text-decoration: inherit;
}
.CodeMirror-rulers {
	position: absolute;
	left: 0;
	right: 0;
	top: -50px;
	bottom: -20px;
	overflow: hidden;
}
.CodeMirror-ruler {
	border-left: 1px solid #ccc;
	top: 0;
	bottom: 0;
	position: absolute;
}
.cm-s-default {
	.cm-header {
		color: $color_3;
	}
	.cm-quote {
		color: $color_4;
	}
	.cm-keyword {
		color: $color_7;
	}
	.cm-atom {
		color: $color_8;
	}
	.cm-number {
		color: $color_9;
	}
	.cm-def {
		color: $color_10;
	}
	.cm-variable-2 {
		color: $color_11;
	}
	.cm-variable-3 {
		color: $color_12;
	}
	.cm-type {
		color: $color_12;
	}
	.cm-comment {
		color: $color_13;
	}
	.cm-string {
		color: $color_14;
	}
	.cm-string-2 {
		color: $color_15;
	}
	.cm-meta {
		color: $color_16;
	}
	.cm-qualifier {
		color: $color_16;
	}
	.cm-builtin {
		color: $color_17;
	}
	.cm-bracket {
		color: $color_18;
	}
	.cm-tag {
		color: $color_19;
	}
	.cm-attribute {
		color: $color_20;
	}
	.cm-hr {
		color: $color_2;
	}
	.cm-link {
		color: $color_20;
	}
	.cm-error {
		color: $color_21;
	}
}
.cm-negative {
	color: $color_5;
}
.cm-positive {
	color: $color_6;
}
.cm-header {
	font-weight: bold;
}
.cm-strong {
	font-weight: bold;
}
.cm-em {
	font-style: italic;
}
.cm-link {
	text-decoration: underline;
}
.cm-strikethrough {
	text-decoration: line-through;
}
.cm-invalidchar {
	color: $color_21;
}
.CodeMirror-composing {
	border-bottom: 2px solid;
}
div.CodeMirror {
	span.CodeMirror-matchingbracket {
		color: $color_22;
	}
	span.CodeMirror-nonmatchingbracket {
		color: $color_23;
	}
}
.CodeMirror-matchingtag {
	background: rgba(255, 150, 0, .3);
}
.CodeMirror-activeline-background {
	background: #e8f2ff;
}
.CodeMirror-scroll {
	overflow: scroll !important;
	margin-bottom: -30px;
	margin-right: -30px;
	padding-bottom: 30px;
	height: 100%;
	outline: none;
	position: relative;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.CodeMirror-sizer {
	position: relative;
	border-right: 30px solid transparent;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.CodeMirror-vscrollbar {
	position: absolute;
	z-index: 6;
	display: none;
	right: 0;
	top: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}
.CodeMirror-hscrollbar {
	position: absolute;
	z-index: 6;
	display: none;
	bottom: 0;
	left: 0;
	overflow-y: hidden;
	overflow-x: scroll;
}
.CodeMirror-gutter {
	white-space: normal;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	margin-bottom: -30px;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.CodeMirror-gutter-wrapper {
	position: absolute;
	z-index: 4;
	background: none !important;
	border: none !important;
	&::selection {
		background-color: $background_color_5;
	}
	&::-moz-selection {
		background-color: $background_color_5;
	}
}
.CodeMirror-gutter-background {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 4;
}
.CodeMirror-gutter-elt {
	position: absolute;
	cursor: default;
	z-index: 4;
}
.CodeMirror-wrap {
	pre {
		word-wrap: break-word;
		white-space: pre-wrap;
		word-break: normal;
	}
}
.CodeMirror-linebackground {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 0;
}
.CodeMirror-linewidget {
	position: relative;
	z-index: 2;
	overflow: auto;
}
.CodeMirror-rtl {
	pre {
		direction: rtl;
	}
}
.CodeMirror-code {
	outline: none;
}
.CodeMirror-measure {
	position: absolute;
	width: 100%;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	pre {
		position: static;
	}
}
div.CodeMirror-cursors {
	visibility: hidden;
	position: relative;
	z-index: 3;
}
div.CodeMirror-dragcursors {
	visibility: visible;
}
.CodeMirror-focused {
	div.CodeMirror-cursors {
		visibility: visible;
	}
	.CodeMirror-selected {
		background: #d7d4f0;
	}
}
.CodeMirror-selected {
	background: #d9d9d9;
}
.CodeMirror-crosshair {
	cursor: crosshair;
}
.CodeMirror-line {
	&::selection {
		background: #d7d4f0;
	}
	>span {
		&::selection {
			background: #d7d4f0;
		}
		>span {
			&::selection {
				background: #d7d4f0;
			}
			&::-moz-selection {
				background: #d7d4f0;
			}
		}
		&::-moz-selection {
			background: #d7d4f0;
		}
	}
	&::-moz-selection {
		background: #d7d4f0;
	}
}
.cm-searching {
	background-color: $background_color_6;
	background-color: $background_color_7;
}
.cm-force-border {
	padding-right: .1px;
}
.cm-tab-wrap-hack {
	&:after {
		content: '';
	}
}
span.CodeMirror-selectedtext {
	background: none;
}
@media print {
	.CodeMirror {
		div.CodeMirror-cursors {
			visibility: hidden;
		}
	}
}
