
@import "./fonts.scss";
@import "./colors.scss";

@mixin document {
  display: flex;
  width: 100%;

  &__list {
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow-y: scroll;
  }

  &__border {
    box-shadow: 0 0 2px $brand-black;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    margin: 10px 20px;
    min-height: 100px;
    flex-shrink: 0;

    &-title {
      font-size: $biggest;
      padding: 5px 10px;
    }

    &-group {
      flex-direction: column;
      margin: 10px;
    }

    &-field {
      display: block;
      line-height: 24px;
      padding: 10px;
      word-wrap: break-word;
    }

    &-field > a {
      padding: 0px 5px;
    }

    &-label {
      font-size: $medium;
      padding: 10px;
      user-select: text;
      border-bottom-style: groove;
      border-bottom-color: $brand-black;
      border-bottom-width: 2px;
      background-color: $brand-white;
      font-family: monospace;
    }
  }
}
