@import "./buttons.scss";
@import "./colors.scss";
@import "./fonts.scss";

@mixin dropdown {
  appearance: none;
  border: none;
  font-size: 18px;
  border-radius: 0;
  @include button;
  background-color: none;
  box-shadow: inset 0px 0px 1px $brand-black;
  justify-content: center;
  display: flex;
  align-items: center;
  &:hover {
    background-color: $brand-white;
  }
}

@mixin dropdownMenu {
    width: 100%;
    background-color: white;
    display: flex;
    width: 200px;
    z-index: 99999999999999;
    justify-content: flex-end;
    box-shadow: 0px 0px 3px 2px $brand-black;
    position: absolute;
    flex-direction: column;
    border-width: 1px;
    border-color: $brand-black;
    border-style: outset;
    border-radius: 2px;

    &__separator {
      border-bottom-color: $brand-white;
      border-radius: 3px;
      border-bottom-style: outset;
      border-bottom-width: 3px;
    }

    &__title {
      background-color: $brand-blue;
    }

    &__item {

      &-label {
        display: flex;
        align-items: flex-end;
      }
    }

    &__title, &__item {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      font-size: 18px;
      box-sizing: border-box;
      border-bottom-color: $brand-white;
      border-bottom-style: groove;
      border-bottom-width: 2px;

      &-enabled {
        &:hover {
          box-shadow: inset 0px 0px 5px $brand-black;
          border-radius: 2px;
          cursor: pointer;
          background-color: $brand-white;
        }
      }

      &-disabled {
        &:hover {
          border-radius: 2px;
          cursor: not-allowed;
        }
      }
    }
}
