@import "./colors.scss";
@import "./states.scss";
@import "./input.scss";
@import "./buttons.scss";
@import "./checkboxes.scss";
@import "./dropdown.scss";
@import "./fonts.scss";

// Form container that holds all inputs
@mixin form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  align-items: center;

  // form group
  &__group {
    display: flex;
    align-items: center;
    margin: 5px;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    flex-shrink: 0;
    &-container {
      box-shadow: 0px 0px 2px $brand-grey;
      padding: 5px 10px;
    }
    &-field {
      display: flex;
      flex-direction: row;
      padding: 15px 0px;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    &-input {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
    }
    &-buttons {
      display: flex;
      justify-content: center;
    }
    &-title {
      letter-spacing: 1px;
      font-size: $big;
    }
  }

  // input label
  &__label, &__group-label{
    display: flex;
    box-shadow: 0 0 1px $brand-grey;
    padding: 10px;
    min-width: 100px;
    justify-content: center;
    font-size: $medium;
    align-items: center;
  }

  &__label {
    &-textarea {

    }
  }

  // input field
  &__input {
    @include input;
    width: auto;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: scroll;
    z-index: 1;

    // input error
    &-error {
      background-color: $lightRed;
    }

    &-textarea {
      display: flex;
      flex-grow: 1;
      padding: 5px;
      height: 100px;
      resize: none;
      font-size: $small;
      width: calc(100% - 10px);
    }
  }

  // form row group
  &__row {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  // form button
  &__button {
    display: flex;
    font-size: 20px;
    margin: 5px;
    align-items: center;
    @include button;
  }

  // disabled state
  &__disabled {
    @include disabled;
  }

  // dropdown
  &__dropdown {
    @include dropdown;
    &-disabled {
      @include dropdown;
      @include disabled;
    }
  }

  // input checkbox
  &__checkbox {
    @include checkbox;
  }

  &__error {
    display: flex;
    justify-content: center;
    margin: 0px 10px;
    padding: 5px;
    background-color: $lightRed;
    border-color: $red;
    border-style: solid;
    border-width: 2px;
    z-index: 0;
    transform: translateY(-3px);
  }
}
