@import "./colors.scss";
@import "./buttons.scss";
@import "./input.scss";
@import "./fonts.scss";

@mixin header {
  display: flex;
  padding: 20px;
  width: calc(100% - 40px);
  align-items: center;
  max-height: 0px;
  font-size: $big;
  box-shadow: 0px 0px 3px $brand-black;
  justify-content: space-between;
  background-color: $brand-blue;
  color: $brand-black;

  &-title {
    display: flex;
  }

  &-grow {
    flex-grow: 1;
  }

  &-input {
    @include input;
    width: 500px;
    &:focus, &:hover {
      background-color: white;
    }
  }

  &-button {
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 3px 1px $brand-dark-grey;
    margin: 0px 5px;
    background-color: $brand-white;
    @include button-inverted;
  }

  &-group {
    display: flex;
    align-items: center;
  }

  &-separator {
    height: 35px;
    display: flex;
    margin: 0px 10px;
    border-style: groove;
    border-width: 1px;
    border-color: $brand-dark-grey;
  }
}
