@import "./colors.scss";
@import "./fonts.scss";

@mixin input {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: $medium;
  border: none;
  padding: 5px 10px;
  margin: 0px 10px;
  background-color: white;
  box-shadow: inset 0px 0px 1px $brand-black;
  &:focus, &:hover {
    background-color: $brand-white;
  }
  &:hover {
    cursor: pointer;
  }
  &:focus {
    cursor: text;
  }
}
