@import "./colors.scss";
@import "./buttons.scss";
@import "./header.scss";
@import "./fonts.scss";

.menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100%;

  &__menu {
    display: flex;
    width: 20%;
    height: 100%;
    min-width: 200px;
    flex-direction: column;
    box-shadow: inset 0px 0px 6px $brand-black;
    background-color: $brand-white;

    &-title {
      display: flex;
      margin: 30px;
      font-size: $biggest;
    }

    &-label {
      display: flex;
      margin: 10px;
      font-size: $medium;
      padding: 10px;
      box-shadow: 0px 0px 2px $brand-black;
      word-break: break-word;
      cursor: pointer;
      justify-content: space-between;
      &-active {
        background-color:$brand-blue;
        color: $brand-black;
      }
      &:hover {
        color:$brand-blue;
        background-color: $brand-dark-grey;
      }
    }
  }

  &__header {
    @include header;
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
  }
}
