@import "./colors.scss";
@import "./states.scss";
@import "./fonts.scss";

@mixin report {
  display: flex;
  flex-grow: 1;
  overflow: hidden;

  &__features {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
  }

  &__feature {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 10px;
    flex-shrink: 0;
    box-shadow: inset 0px 0px 5px 1px $brand-black;

    &-button {
      display: flex;
      align-items: center;
      padding: 5px 10px;
    }

    &-number {
      font-size: $big;
      padding: 0px 15px;
      border-right-color: $brand-black;
      border-right-width: 2px;
      border-right-style: solid;
    }

    &-name {
      font-size: $big;
      flex-grow: 1;
      overflow-x: scroll;
      padding: 0px 15px;
    }

    &-result {
      display: flex;
      padding: 0 15px;
    }

    &-failure {
      @include fail;
    }

    &-success {
      @include pass;
    }

    &-incomplete {
      @include incomplete;
    }

    &-expected-failure {
      @include expected-failure;
    }

    &-unexpected-success {
      @include unexpected-success;
    }
  }

  &__test {

  }
}
