@import "./colors.scss";
@import "./fonts.scss";
@import "./states.scss";
@import "./buttons.scss";

@-webkit-keyframes runningAnimation {
  from {
    background-color:$lightGreen;
    box-shadow: inset 0px 0px 2px 3px $green;
  }
  to {
    background-color:$green;
    box-shadow: inset 0px 0px 2px 3px $green;
  }
}

@mixin set-table {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 50px 350px;
  overflow-y: scroll;
  grid-auto-columns: min-content;
  width: min-content;
  z-index: 5;

  &__button {
    @include button;
    padding: 0;
    border-radius: 0;
  }

  &__header {
    position: sticky;
    top: 0px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $brand-grey;
    color: $brand-black;
    width: inherit;
    border-bottom-color: $brand-grey;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    &-button {
      &:hover {
        cursor: pointer;
        background-color: $brand-white;
      }
    }
    &-main {
      z-index: 2;
      font-size: $big;
    }
    &-date {
      font-size: $medium;
      &-time {
        font-size: $small;
      }
    }
    &-fill {
      display: flex;
      flex-grow: 1;
      height: 48px;
      background-color: $brand-grey;
      color: $brand-black;
      border-bottom-color: $brand-grey;
      border-bottom-style: solid;
      border-bottom-width: 2px;
    }
  }

  &__numbers {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 60px;
    grid-template-rows: 50px;
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: $brand-white;
    grid-gap: 5px;
    border-right-color: $brand-grey;
    border-right-style: solid;
    border-right-width: 2px;
    &-cell {
      @include button;
      border-radius: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 2px 1px $brand-grey;
      &:nth-child(odd) {
        background-color: white;
      }
    }
  }

  &__features {
    display: grid;
    position: sticky;
    left: 50px;
    grid-template-rows: 50px;
    grid-auto-rows: 60px;
    z-index: 1;
    background-color: $brand-white;
    border-right-color: $brand-grey;
    border-right-style: solid;
    border-right-width: 2px;
    grid-gap: 5px;
      &-item {
        @include button;
        border-radius: 0;
        padding: 5px 10px;
        box-shadow: 0px 0px 2px 1px $brand-grey;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        overflow: scroll;
        min-width: 0;
        z-index: 1;
        &:nth-child(odd) {
          background-color: white;
        }
      }
  }

  &__column {
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 50px;
    grid-auto-rows: 60px;
    grid-gap: 5px;
    z-index: 0;
  }

  &__reports {

    &-cell {
      z-index: 0;
      &:hover {
        cursor: pointer;
      }

      &-pass {
        background-color:$lightGreen;
        box-shadow: inset 0px 0px 2px 3px $green;
        &:hover {
          background-color:$green;
        }
      }
      &-fail {
        background-color:$lightRed;
        box-shadow: inset 0px 0px 2px 3px $red;
        &:hover {
          background-color:$red;
        }
      }
      &-expected-fail {
        background-color:$lightPurple;
        box-shadow: inset 0px 0px 2px 3px $purple;
        &:hover {
          background-color:$purple;
        }
      }
      &-unexpected-pass {
        background-color:$lightBlue;
        box-shadow: inset 0px 0px 2px 3px $blue;
        &:hover {
          background-color:$blue;
        }
      }
      &-running {
        -webkit-animation: runningAnimation 1s ease-in-out infinite alternate;
        -moz-animation: runningAnimation 1s ease-in-out infinite alternate;
        animation: runningAnimation 1s ease-in-out infinite alternate;
      }
      &-queued {
        background-color: $brand-grey;
        box-shadow: inset 0px 0px 2px 3px $brand-grey;
        &:hover {
          background-color:$brand-grey;
        }
      }
      &-unknown {
        background-color: white;
        box-shadow: inset 0px 0px 2px 3px $brand-grey;
        &:hover {
          background-color:$brand-grey;
        }
      }
    }
  }
}
