@import "./colors.scss";

@mixin transition($value: .2s) {
  -webkit-transition: $value ease-in-out;
  -moz-transition: $value ease-in-out;
  -ms-transition: $value ease-in-out;
  -o-transition: $value ease-in-out;
  transition: $value ease-in-out;
}

@mixin translateX($percent) {
  -ms-transform: translateX($percent); /* IE 9 */
  -webkit-transform: translateX($percent); /* Safari */
  transform: translateX($percent);
}

@mixin translateY($percent) {
  -ms-transform: translateY($percent); /* IE 9 */
  -webkit-transform: translateY($percent); /* Safari */
  transform: translateY($percent);
}

@-webkit-keyframes redGlow {
  from {
    box-shadow: inset 0px 0px 3px 1px $lightRed;
  }
  to {
    box-shadow: inset 0px 0px 3px 3px $red;
  }
}

@-webkit-keyframes greenGlow {
  0% {
    box-shadow: inset 0px 0px 3px 1px $lightGreen;
  }
  100% {
    box-shadow: inset 0px 0px 3px 3px $green;
  }
}

@mixin disabled {
  pointer-events: none;
}

@mixin result {
  border-style: solid;
  border-width: 2px;
}

@mixin pass {
  @include result;
  background-color: $lightGreen;
  border-color: $green;
}

@mixin fail {
  @include result;
  background-color: $lightRed;
  border-color: $red;
}

@mixin incomplete {
  @include result;
  background-color: $brand-white;
  border-color: $brand-black;
}

@mixin expected-failure {
  @include result;
  background-color: $lightPurple;
  border-color: $purple;
}

@mixin unexpected-success {
  @include result;
  background-color: $lightBlue;
  border-color: $blue;
}
