@import "./colors.scss";
@import "./fonts.scss";
@import "./_dashboard.scss";
@import "./_view-header.scss";

@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto/Roboto-Regular.ttf);
    // src: url(../fonts/Montserrat-SemiBold.ttf);
    // src: url(../fonts/Montserrat-Black.ttf);
}

html, body{
  padding: 0;
  margin: 0;
  font-family: Roboto;
  font-size: $small;
  overflow: hidden;
  user-select: none;
  height: 100%;
}
::-webkit-scrollbar {
  display: None;
}
body{
  background-color: $brand-grey;
}

.CodeMirror {
  height: auto !important;
  display: flex;
  flex-grow: 1;
}

.CodeMirror-lines {
  font-family: monospace;
}

.CodeMirror-scroll {
    height: 100%;
    width: 100%;
    padding-bottom: 0px !important;
}

.CodeMirror-gutters {
  background-color: $brand-white !important;
  border: none;
}

.CodeMirror-linenumber {
  color: $brand-black !important;
}

editor {
  width: 100%;
}
