@import "./colors.scss";
@import "./buttons.scss";
@import "./fonts.scss";

.table {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    &__header {
      box-shadow: 0px 3px 5px -1px $brand-black;
      font-size: $biggest;
    }

    &__container {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
    }

    &__row {
      display: flex;
      min-height: 35px;
      align-items: center;
      width: stretch;
      border-bottom-style: inset;
      border-bottom-width: 1px;
      border-bottom-color: $brand-black;
      font-size: $medium;
      &-selectable {
        &:hover {
          cursor: pointer;
          background-color: $brand-light-blue;
          box-shadow: inset 0px 0px 2px $brand-black;
        }
      }
      &-group {
        display: flex;
        flex-grow: 1;
      }
    }

    &__cell {
      display: flex;
      padding: 10px 20px;
      overflow-x: scroll;
      user-select: text;
      &-header {
        font-size: $big;
      }
      &-row-header {
        border-right-style: inset;
        border-right-width: 1px;
        border-right-color: $brand-black;
      }
      &-content {
        font-size: $medium;
      }
      &-input {
        font-size: $medium;
      }
      &-expand {
        flex-grow: 1;
        width: 100px;
      }
      &-button {
        @include button;
        padding: 10px 20px;
      }
    }
}
