@import "./colors.scss";
@import "./fonts.scss";

@mixin active {
  background-color: $brand-blue;
  box-shadow: 0px -2px 3px 1px $brand-black;
  z-index: 1;
}

@mixin tab {
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  cursor: pointer;
  font-size: $medium;
  background: $brand-white;
  box-shadow: inset 0px -5px 4px 0px $brand-grey;
  z-index: 0;
  border-radius: 1px;

  &:hover {
    background-color: $brand-light-blue;
    color: $brand-black;
  }
}
