@import "./colors.scss";
@import "./fonts.scss";
@import "./buttons.scss";
@import "./input.scss";

@mixin test {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 4px $brand-black;
  padding: 5px;
  flex-shrink: 0;

  &__menu {
    display: flex;
    padding: 20px;
    flex-direction: column;
    &-row {
      display: flex;
      justify-content: space-evenly;
    }
    &-group {
      display: flex;
      flex-direction: column;
      box-shadow: 0px 0px 1px $brand-black;
      flex-grow: 1;
      margin: 0px 5px;
      background-color: $brand-white;
      &-message {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        padding: 20px 0px;
        background-color: transparent;
      }
    }
    &-title {
      display: flex;
      padding: 5px 10px;
      justify-content: space-between;
      background-color: $brand-blue;
      flex-shrink: 0;
      &-group {
        font-size: $big;
        display: flex;
        align-items: center;
      }
    }
    &-button {
      @include button-inverted;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: scroll;
  }

  &__item {
    display: flex;
    padding: 10px 0px;
    font-size: $medium;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;

    &-group {
      display: flex;
      flex-grow: 1;
      @include button;
    }

    &-number {
      display: flex;
      padding: 0px 10px;
      border-right-color: $brand-black;
      border-right-width: 2px;
      border-right-style: solid;
    }
    &-text {
      display: flex;
      padding: 0px 10px;
    }
  }

  &__section {
    display: flex;
    justify-content: flex-start;
  }

  &__expand {
    flex-grow: 1;
  }

  &__group {
    display: flex;
    justify-content: center;
    padding: 0 10px;
    align-items: center;
    &-input {
      flex-grow: 1;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    box-shadow: 0px 0px 1px $brand-black;
    background-color: $brand-white;
    background-color: $brand-blue;
  }

  &__dropdown {
    appearance: none;
    border: none;
    font-size: 18px;
    border-radius: 0;
    @include button;
    background-color: none;
    box-shadow: inset 0px 0px 1px $brand-black;
    justify-content: center;
    display: flex;
    align-items: center;
    &:hover {
      background-color: $brand-grey;
    }
  }

  &__input {
    @include input;
    flex-grow: 1;
    margin: 0;
  }

  &__button {
    @include button;
    border-style: solid;
    border-width: 2px;
    border-color: $brand-black;
    display: flex;
    align-items: center;

    &-disabled {
      user-select: none;
      pointer-events: none;
    }

    &-green {
      background-color: $green;
      border-color: $lightGreen;
      &:hover {
        background-color: $lightGreen;
        border-color: $green;
      }
    }
    &-red {
      background-color: $red;
      border-color: $lightRed;
      color: $brand-black;
      &:hover {
        background-color: $lightRed;
        border-color: $red;
      }
    }
  }
}
