@import "./colors.scss";
@import "./fonts.scss";

@mixin tree {
  display: flex;
  flex-flow: row wrap;
  white-space: nowrap;
  align-items: flex-start;
  margin-left: 15px;
  font-size: $small;
  box-sizing: border-box;
  flex-direction: column;

  &__directory {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  &__item .tooltip {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }

  &__item {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;

    &__node {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      padding: 5px;

      &:hover .tooltip {
        margin-top: 35px;
        margin-left: 35px;
        -webkit-animation: tooltipAnimation 12s linear forwards;
        -moz-animation: tooltipAnimation 12s linear forwards;
        animation: tooltipAnimation 12s linear forwards;
      }

      &__label {
        margin-left: 5px;

        &::after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background: $brand-blue;
          transition: width .4s;
        }
      }
      &:hover .tree__item__node__label::after {
        color: $brand-black;
        width: 100%;
      }

      &:hover {
        background-color: $brand-grey;
        color: $brand-black;
        border-radius: 3px;
      }
  }

  &__icon {

  }

  }
}
