@import "../../../styles/document.scss";
@import "../../../styles/header.scss";

:host {
  flex-grow: 1;
  display: flex;
}

.start {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.document {
  @include document;
}

.header {
  @include header;
}
