<div class="start">

  <div class="header">
    <div class="header__title">Get Started</div>
  </div>
  <div class="document__list">
    <div class="document__item document__border">
      <div class="document__item-title">Terminology</div>
      <div class="document__item-group document__border">
        <div class="document__item-label">Feature</div>
        <div class="document__item-field">
          A 'feature' is a test file that verifies specific functionality. Feature files end in the extension '.feature.'
        </div>
      </div>
      <div class="document__item-group document__border">
        <div class="document__item-label">Phrase</div>
        <div class="document__item-field">
          A 'phrase' is a file that groups lines of a feature file together. It allows pieces of tests to exist in one spot while being used in multiple areas.
        </div>
      </div>
      <div class="document__item-group document__border">
        <div class="document__item-label">Set</div>
        <div class="document__item-field">
          A 'set' is a group of existing feature files. It allows you to run multiple feature files at the same time and see the output of results.
        </div>
      </div>
      <div class="document__item-group document__border">
        <div class="document__item-label">Step</div>
        <div class="document__item-field">
          A 'step' is a test line within a phrase or feature file. A step tells Honeypy how to execute a particular action or assertion.
          Honeypy parses a line of english words, known as a step, to accomplish the testing task.
          Steps are typically broken into different syntax forms. These syntax forms are all distinguished by the first word of the line.
          There are a few different types, but the main ones we want to use are 'Given,' 'When,' 'Then.'
          Navigate to <a href="https://cucumber.io/docs/reference" target="_blank">Cucumber.io</a> to learn more about the syntax known as 'Gherkin.'
        </div>
      </div>
      <div class="document__item-group document__border">
        <div class="document__item-label">Scenario</div>
        <div class="document__item-field">
          A 'scenario' is a group of steps within a feature/phrase file.
          A scenario executes steps in order line by line.
          If a step fails while it is within a scenario, the scenario skips the remaining steps.
        </div>
      </div>
      <div class="document__item-group document__border">
        <div class="document__item-label">Worker</div>
        <div class="document__item-field">
          A 'worker' is a process that runs a feature file test.
        </div>
      </div>
      <div class="document__item-group document__border">
        <div class="document__item-label">Queue</div>
        <div class="document__item-field">
          A 'queue' is multiple workers organized under the same name.
          Honeypy uses queues to manage test runs.
          It also uses them to limit how many tests can run at one time.

          Currently, there are only one queue available. All tests will automatically run using the 'normal-queue'.
          If you are interested in using your own private queue, we can set you up with one.
        </div>
      </div>
    </div>

    <div class="document__item document__border">
      <div class="document__item-title">Technologies</div>
      <div class="document__item-group document__border">
        <div class="document__item-label">Webdriver-Manager</div>
        <div class="document__item-field">Honeypy requires <a href="https://www.npmjs.com/package/webdriver-manager" target="_blank">Webdriver-manager</a> to be able to run desktop tests. Navigate to the link to learn how to setup webdriver-manager</div>
      </div>

      <div class="document__item-group document__border">
        <div class="document__item-label">Queues</div>
        <div class="document__item-field">Honeypy uses <a href="http://python-rq.org/docs/" target="_blank">Python RQ</a> to manage testing queues.</div>
      </div>
    </div>
  </div>
  <div>
