@import '../../styles/colors.scss';

:host {
  width: 50%;
}

.alert {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: $brand-white;
  color: $brand-black;
  padding: 5px 0px;
  border-radius: 2px;
  box-shadow: 0px -4px 5px -2px $brand-grey;
}
