<div class="oops">
  <div class="oops__header">
    <div class="header__title">
      Oops!
    </div>
  </div>
  <div *ngIf="gif" class="oops__gif">
    <iframe class="giphy-embed" [src]="gif" width="100%" height="100%" style="position:absolute;pointer-events: none" frameBorder="0"></iframe>
  </div>
</div>
