@import "../../styles/header.scss";

:host {
  display: flex;
  width: 100%;
}

.oops {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    @include header;
  }

  &__gif {
    display: flex;
    margin: 20px;
    overflow: scroll;
    position: relative;
    flex-grow: 1;
  }
}
