<div *ngIf="file" class="editor">
  <div class="test">

    <div class="test__section">
      <div *ngIf="file.kind == 'feature'" class="test__group app-dropdown">
        <div class="test__button app-dropdown" (click)="fileMenu = !fileMenu">
          <i class="fas fa-bars app-dropdown"></i>
        </div>
        <div *ngIf="fileMenu" class="menu">
          <div *ngIf="file.kind == 'feature'" (click)="file.fail = !file.fail; fileChange('inherit', file.fail)" value="option" class="menu__item menu__item-enabled app-dropdown">
            <i *ngIf="!file.fail" class="far fa-square app-dropdown"></i>
            <i *ngIf="file.fail" class="far fa-check-square app-dropdown"></i>
            <div class="menu__item-label app-dropdown">
              Expected Failure?
            </div>
          </div>
          <div class="menu__item menu__item-enabled" (click)="saveFile()">
            <i class="fas fa-save"></i>
            <div class="menu__item-label">
              Save
            </div>
          </div>

          <div *ngIf="file.kind == 'feature'" class="menu__item menu__item-enabled" (click)="associateFeature()">
            <i class="fas fa-plus"></i>
            <div class="menu__item-label">
              Associate
            </div>
          </div>

          <div *ngIf="file.kind == 'feature'" class="menu__item menu__item-enabled" (click)="toggleDetails()">
            <i class="fas fa-info-circle"></i>
            <div class="menu__item-label">
              Details
            </div>
          </div>
        </div>

      </div>

      <div *ngIf="file.kind == 'feature'" class="test__group">
        <div class="test__label">Browser: </div>
        <select id="browsers" class="test__dropdown" [(ngModel)]="file.browser" (ngModelChange)="fileChange('browser', $event)">
          <option *ngFor="let browser of browsers" [value]="browser.name">{{browser.name | titlecase}}</option>
        </select>
      </div>

      <div *ngIf="file.kind == 'feature'" class="test__group">
        <div class="test__label">Host: </div>
        <select id="hosts" class="test__dropdown" [(ngModel)]="file.host" (ngModelChange)="fileChange('host', $event)">
          <option *ngFor="let host of hosts" [value]="host.name" (click)="hostChange(host)">{{host.name | titlecase}}</option>
        </select>
      </div>
    </div>

    <div *ngIf="file.kind == 'feature'" class="test__section test__expand">
      <div class="test__group test__group-input">
        <div class="test__label">URL: </div>
        <input type="text" [(ngModel)]="file.url" id="url" class="test__input" placeholder="Input URL" (ngModelChange)="fileChange('url', $event)">
      </div>

      <div class="test__group">
        <button class="test__button" (click)="run()" title="Run" [disabled]="running" [ngClass]="{'test__button-green':!running, 'test__button-red':running, 'test__button-disabled':running}">
          <i *ngIf="!running" class="fas fa-play" aria-hidden="true"></i>
          <i *ngIf="running" class="fas fa-spinner fa-pulse"></i>
        </button>
      </div>
    </div>

    <div *ngIf="file.kind == 'phrase'" class="test__section test__expand">
      <div class="test__group test__group-input">
        <div class="test__label">Phrase: </div>
        <input type="text" [(ngModel)]="file.phrase" id="phrase" class="test__input" placeholder="Input Phrase" (ngModelChange)="fileChange('phrase', $event)">
      </div>
    </div>
  </div>

  <codemirror *ngIf="config != {} && !editorMenu" class="editor__container" [(ngModel)]="file.contents" [config]="config" (ngModelChange)="fileChange('content', $event)"></codemirror>

</div>
