@import "../../styles/colors.scss";
@import "../../styles/buttons.scss";
@import "../../styles/input.scss";
@import "../../styles/fonts.scss";
@import "../../styles/form.scss";
@import "../../styles/test.scss";
@import "../../styles/dropdown.scss";

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fa {
  font-size: $big;
}

.editor {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  flex-grow: 1;

  &__container {
    display: flex;
    overflow: scroll;
    height: calc(100% - 20px);
    padding: 2px;
    background-color: $brand-white;
    flex-grow: 1;
  }
}

.test {
  @include test;
}

.form {
  @include form;

  &__group-field {
    flex-grow: 0;
  }
}

.menu {
  @include dropdownMenu;
  top: 90px;
  left: 250px;
}
