<div class="host">

  <div class="host__nav">
    <div class="host__nav-btn" routerLink="/settings/hosts" title="Back">
      <i class="fas fa-chevron-left host__nav-btn-icon" aria-hidden="true"></i> Back
    </div>
    <div class="host__nav-group">
      <div *ngIf="!form && ifHost" class="host__nav-btn" (click)="toggleForm()" title="Edit Host">
        <i class="fas fa-pencil-alt host__nav-btn-icon" aria-hidden="true"></i>
      </div>
      <div *ngIf="form && ifHost" class="host__nav-btn" (click)="exitForm()" title="Cancel">
        <i class="fas fa-times host__nav-btn-icon" aria-hidden="true"></i>
      </div>
      <div *ngIf="ifHost" class="host__nav-btn host__tooltip" (click)="deleteHost()" title="Delete Host">
        <i class="fas fa-trash-alt host__nav-btn-icon" aria-hidden="true"></i>
      </div>
    </div>
  </div>

  <div class="form">
    <div class="form__row" *ngIf="host">
      <div class="form__group">
        <div class="form__group-field">
          <div class="form__group-label">Name</div>
          <input *ngIf="ifHost" class="form__input" placeholder="Host Name" [(ngModel)]="host.name" [ngClass]="{'form__input-error':formError.name.error}" (ngModelChange)="onNameChange($event)" [disabled]="!form">
          <input *ngIf="!ifHost" class="form__input" placeholder="Host Name" [(ngModel)]="host.name" [ngClass]="{'form__input-error':formError.name.error}" (ngModelChange)="onNameChange($event)">
        </div>
        <div *ngIf="formError.name.error" class="form__error">
          <i class="fas fa-exclamation-triangle form__error-icon" aria-hidden="true"></i> {{formError.name.message}}
        </div>
      </div>
    </div>

    <div class="form__row" *ngIf="host">

      <div class="form__group">
        <div class="form__group-field">
          <div class="form__group-label">Location</div>
          <input *ngIf="ifHost" class="form__input" placeholder="Host Location URI" [(ngModel)]="host.location" [ngClass]="{'form__input-error':formError.location.error}" (ngModelChange)="onLocationChange($event)" [disabled]="!form">
          <input *ngIf="!ifHost" class="form__input" placeholder="Host Location URI" [(ngModel)]="host.location" [ngClass]="{'form__input-error':formError.location.error}" (ngModelChange)="onLocationChange($event)">
        </div>
        <div *ngIf="formError.location.error" class="form__error">
          <i class="fas fa-exclamation-triangle form__error-icon" aria-hidden="true"></i> {{formError.location.message}}
        </div>
      </div>

    </div>

    <!-- <div class="form__group" *ngIf="host">
      <div class="form__row">
        <div class="form__group-label">Description</div>
        <textarea *ngIf="ifHost" class="form__input-description" placeholder="Host Description" [(ngModel)]="host.description" [disabled]="!form"></textarea>
        <textarea *ngIf="!ifHost" class="form__input-description" placeholder="Host Description" [(ngModel)]="host.description"></textarea>
      </div>
    </div> -->

    <div class="form__label" *ngIf="host">
      <div class="form__group-label">Active</div>
      <input *ngIf="ifHost" class="form__checkbox" type="checkbox" name="active" [checked]="host.active" (change)="host.active = !host.active" [disabled]="!form">
      <input *ngIf="!ifHost" class="form__checkbox" type="checkbox" name="active" [checked]="host.active" (change)="host.active = !host.active">
    </div>

    <div *ngIf="form" class="form__row form__group">
      <button class="form__button form__button-cancel" (click)="toggleForm()">Cancel</button>
      <button class="form__button" type="submit" (click)="submit()">{{submitButton}}</button>
    </div>

    <div *ngIf="!form && !ifHost" class="form__row form__group">
      <button class="form__button form__button-cancel" (click)="exitForm()">Cancel</button>
      <button class="form__button" type="submit" (click)="submit()">{{submitButton}}</button>
    </div>
  </div>

</div>
