@import "../../../../styles/colors.scss";
@import "../../../../styles/buttons.scss";
@import "../../../../styles/form.scss";

:host {
  width: 100%;
}

.form {
  @include form;
  width: 100%;

  &__group-label {
    min-width: 100px;
    background-color: $brand-blue;
    font-size: $big;
  }
}

.host {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

  &__group {
    display: flex;
    width: 90%;
    justify-content: center;
    flex-direction: column;

    &-input {
      display: flex;
      padding: 0 10px;
      justify-content: center;
    }

    &-description {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
  }

  &__button {
    display: flex;
    margin: 5px;
    font-size: 18px;
    @include button;
  }

  &__status {
    display: flex;
    font-size: 30px;
    margin: 0 10px;
    align-items: center;

    &-icon-green {
      color: $green;
    }

    &-icon-red {
      color: $red;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: $brand-white;
    box-shadow: 0 0 2px $brand-black;
    font-size: 20px;
    margin-bottom: 20px;

    &-group {
      display: flex;
    }

    &-btn {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      @include button;

      &-icon {
        margin: 0 10px;
      }
    }
  }
}
