<div class="form">

  <div class="form__group">

    <div class="form__group-field">
      <div class="form__label">Queue</div>
      <div class="form__group-input">
        <input class="form__input" placeholder="Input Queue Name" [(ngModel)]="queue">
      </div>
    </div>
  </div>

  <div class="form__group-buttons">
    <button class="form__button" (click)="cancel()">Cancel</button>
    <button class="form__button" (click)="save()">Set</button>
  </div>
</div>
