<div class="environments">

  <div class="environments__container">
    <div class="table">
      <div class="table__container">
        <div *ngIf="ifAdd" class="table__row table__header">
          <input type="text" class="table__cell-input" placeholder="Input Environment Name" [(ngModel)]="newEnvName">
          <div class="table__cell-button" (click)="create()">
            Create
          </div>
        </div>
        <div *ngFor="let env of environments; let i = index" class="table__row table__row-selectable">
          <div class="table__row-group" [routerLink]="[env.name]">
            <div class="table__cell table__cell-row-header">{{i + 1}}</div>
            <div class="table__cell table__cell-expand">{{env.name}}</div>
          </div>
          <div *ngIf="env.name != selectedEnvironment" (mouseover)="env.hover = true"  (mouseout)="env.hover = false" class="table__cell table__cell-clickable" (click)="selectEnvironment(env)">
            <i *ngIf="!env.hover" class="far fa-star"></i>
            <i *ngIf="env.hover" class="fas fa-star"></i>
          </div>
          <div  *ngIf="env.name == selectedEnvironment" class="table__cell table__cell-clickable" (click)="resetSelectedEnvironment()">
            <i class="fas fa-star environments__star-selected"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
