@import "../../../styles/table.scss";
@import "../../../styles/colors.scss";

:host {
  display: flex;
  flex-grow: 1;
}

.environments {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__star {
    &-selected {
        color: $brand-blue;
    }
  }
}

.table {
  @extend .table;
  &__header {
    box-shadow: inset 0px 0px 5px $brand-dark-grey;
  }
  &__cell {
    overflow-x: scroll;

    &-row-header {
      display: flex;
    }

    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-input {
      flex-grow: 1;
      width: auto;
      min-height: 40px;
      border: none;
      padding: 0px 10px;
      box-shadow: inset 0px 0px 5px $brand-dark-grey;
    }
  }

  &__row {
    align-items: center;
    justify-content: space-between;
  }
}
