
$brand-blue: #06C2FB;
$brand-light-blue: #b9efff;
$brand-green: #1CD591;
$brand-grey: #CDD0D4;
$brand-dark-grey: #55585D;
$brand-purple: #7C86E8;
$brand-red:#F35D56;
$brand-black: #272727;
$brand-white: #EFF1F3;

// $brand-aqua-haze: #fcfdfd;
//
//
// $brand-darkest-grey: #343537;
// $brand-dark-grey: #55585D;
// $brand-grey: #7C8087;
// $brand-light-grey: #b4b8be;
// $brand-lighter-grey: #e0e0e0;
// $brand-lightest-grey: #f9f9f9;
//
// $brand-aqua-haze: #fcfdfd;
// $brand-black-haze: #f3f4f4;
// $brand-porcelain: #e8ebec;
// $brand-athens: #dee0e3;
// $brand-iron: #cdd0d4;
// $brand-chateau: #999ea5;
