<div class="checkbox-dropdown">
  <div class="checkbox-dropdown__button" (click)="toggleVisibility()">
    <div class="checkbox-dropdown__button-label">{{label}}</div>
  </div>
  <div *ngIf="selections.length > 0" class="checkbox-dropdown__selections">
    <div *ngFor="let selection of selections" (click)="removeSelection(selection, true)" class="checkbox-dropdown__selection" [attr.title]="selection">
      {{selection | titlecase}}
    </div>
  </div>
  <div *ngIf="selections.length === 0" class="checkbox-dropdown__selections" (click)="toggleVisibility()">
    <div class="checkbox-dropdown__selection-disabled">None</div>
  </div>

    <div *ngIf="options && visible" class="checkbox-dropdown__options">
      <div class="checkbox-dropdown__option checkbox-dropdown__option-enabled" (click)="toggleAll()">
        <div class="checkbox-dropdown__option-checkbox">
          <i *ngIf="!all" class="far fa-square"></i>
          <i *ngIf="all" class="fas fa-check-square"></i>
        </div>
        <div class="checkbox-dropdown__option-label">All</div>
      </div>
      <div *ngFor="let option of options" class="checkbox-dropdown__option checkbox-dropdown__option-enabled" (click)="toggleOption(option)" [attr.title]="option.name">
        <div class="checkbox-dropdown__option-checkbox">
          <i *ngIf="!option.toggle" class="far fa-square"></i>
          <i *ngIf="option.toggle" class="fas fa-check-square"></i>
        </div>
        <div class="checkbox-dropdown__option-label">{{option.name | titlecase}}</div>
    </div>
  </div>
</div>
