@import "../../../styles/buttons.scss";

:host {
  display: flex;
  flex-grow: 1;
}

.checkbox-dropdown {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
  z-index: 999;

  &__button {
    @include button-inverted;
    padding: 8px 20px;

    &-label {

    }
  }

  &__selections {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: inset 0px 0px 2px grey;
    overflow-x: scroll;
  }

  &__selection {
    cursor: pointer;
    max-width: 100px;
    min-width: 50px;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    padding: 3px 5px;
    margin: 0px 5px;
    color: white;
    background-color: $brand-dark-grey;
    border-radius: 2px;
    box-shadow: 0px 0px 2px $brand-black;
    &:hover {
      background-color: $brand-grey;
      color:black;
    }
    &-disabled {
      cursor:none;
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    position:absolute;
    top:27px;
    background-color: white;
    box-shadow: 0px 0px 2px 0px $brand-dark-grey;
    border-width: 1px;
    border-color: $brand-black;
    border-style: outset;
    border-radius: 2px;
    min-width: 250px;
    overflow-y: scroll;
    max-height: 200px;
    z-index: 999;
  }

  &__option {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 18px;
    box-sizing: border-box;
    border-bottom-color: $brand-white;
    border-bottom-style: groove;
    border-bottom-width: 2px;
    flex-shrink: 0;

    &-enabled {
      &:hover {
        box-shadow: inset 0px 0px 2px $brand-dark-grey;
        cursor: pointer;
        background-color: $brand-white;
      }
    }

    &-checkbox {

    }
    &-label {
      display: block;
      text-overflow: ellipsis;
      max-width: 250px;
      overflow: hidden;
      white-space: nowrap;
      padding: 0px 10px;
    }
  }
}

@media (max-width:2100px) {
  .checkbox-dropdown__selections {
    max-width: 300px;
  }
}

@media (max-width:2000px) {
  .checkbox-dropdown__selections {
    max-width: 280px;
  }
}

@media (max-width:1850px) {
  .checkbox-dropdown__selections {
    max-width: 250px;
  }
}

@media (max-width:1675px) {
  .checkbox-dropdown__selections {
    max-width: 205px;
  }
}

@media (max-width:1575px) {
  .checkbox-dropdown__selections {
    max-width: 160px;
  }
}

@media (max-width:1450px) {
  .checkbox-dropdown__selections {
    max-width: 140px;
  }
}

@media (max-width:1375px) {
  .checkbox-dropdown__selections {
    max-width: 120px;
  }
}

@media (max-width:1325px) {
  .checkbox-dropdown__selections {
    max-width: 105px;
  }
}

@media (max-width:1300px) {
  .checkbox-dropdown__selections {
    max-width: 90px;
  }
}

@media (max-width:1275px) {
  .checkbox-dropdown__selections {
    max-width: 75px;
  }
}

@media (max-width:1175px) {
  .checkbox-dropdown__selections {
    display: none;
  }
}
