<div class="app" *ngIf="panels">
  <app-header class="app__border app__header"></app-header>
  <app-contextmenu *ngIf="contextMenuVisible" [x]="coordinates.x" [y]="coordinates.y" [visibleInput]="contextMenuVisible" (visibleEvent)="changeContextVisibility()"></app-contextmenu>
  <app-modal *ngIf="authService.isAuthenticated()" [ngClass]="panels.modal.class"></app-modal>
  <div *ngIf="authService.isAuthenticated()" class="app__container">
    <div [ngClass]="panels.directory.class">
      <app-directory></app-directory>
    </div>
    <div [ngClass]="panels.main.class">
      <router-outlet></router-outlet>
    </div>
    <div [ngClass]="panels.report.class">
      <app-report></app-report>
    </div>
  </div>

  <div *ngIf="authService.isAuthenticated()" [ngClass]="panels.alert.class">
    <app-alert></app-alert>
  </div>

  <div *ngIf="!authService.isAuthenticated()" class="app__container app__container-center">
    <div [ngClass]="panels.auth.class">
      <app-auth></app-auth>
    </div>
  </div>
</div>
