@import "../styles/colors.scss";
@import "../styles/states.scss";

.app {
  display: flex;
  height: 100%;
  flex-direction: column;

  &__border {
    z-index: 999;
  }

  &__alert {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
    font-size: 20px;
    z-index: 99999;
    @include transition;

    &-exit {
      @include translateY(+300%);
    }

    &-enter {
      @include translateY(0);
    }
  }

  &__modal {
    position: absolute;
    z-index: 9999;
    width: 100%;
    top: 0;
    @include transition;

    &-exit {
      @include translateY(-200%);
    }

    &-enter {
      @include translateY(0);
    }
  }

  &__container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content 1fr min-content;
    height: 100%;
    &-center {
      justify-content: center;
    }
  }

  &__panel {
    background-color: white;
    border-width: 1px;
    border-style: ridge;
    border-color: $brand-black;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 $brand-black;
    margin: 5px;
    &-auth {
      display: flex;
      justify-content: center;
      width: 50%;
      align-self: center;
      padding: 20px 30px;
      &-exit {
        @include transition;
        @include translateX(+200%);
      }

      &-enter {
        @include transition;
        @include translateX(0);
      }
    }
    &-main {
      display: flex;
      justify-content: center;
      flex-grow: 1;
      overflow: hidden;
    }
    &-report {
      left: 0 !important;
      right: 0 !important;
      justify-content: center;
      max-width: 660px;
      min-width: 250px;
      overflow: hidden;
      &-exit {
        display: none;
      }

      &-enter {
        display: flex;
      }
    }
    &-directory {
      min-width: 220px;
      max-width: 700px;
      overflow: hidden;
    }
  }
}
