<div class="form-group">

    <div id="title">Honeypy Test Page</div>

    <h3>Input Value = <div id="output">{{honeypyInput}}</div></h3>
    <input [(ngModel)]="honeypyInput" type="text" id="honeypyInput">

    <h3> CSS Tests </h3>

    <div id="css" style="background: red; height: 100px; width: 100px;">
      RED!!!
    </div>

    <div id="button_div" (click)="toggleClick()" name="test" style="display:flex;">{{click}}</div>
    <div id="invisible" style="visibility:hidden;">I SHOULD BE INVISIBLE</div>

    <div class="list">
      <div *ngFor="let item of list" class="list__item" [attr.name]="item.name" [attr.title]="item.name">{{item.name}}</div>
    </div>

    <div>
      <div (click)="waitElementVisibility()" id="clickElementVisibility">Toggle Element Visibility</div>
      <div [ngClass]="{'visible':elemWaitVisibility, 'invisible':!elemWaitVisibility}" id="waitElementVisibility">
        Element Visible
      </div>
    </div>

    <div>
      <div (click)="waitElementPresence()" id="clickElementPresence">Toggle Element Presence</div>
      <div *ngIf="elemWaitPresence" id="waitElementPresence">
        Element Visible
      </div>
    </div>

    <div *ngIf="visible" class="wait">
      WAIT VISIBLE
    </div>

    <button (click)="waitClick()">WAIT</button>
    <input [(ngModel)]="wait" type="number" id="wait">

    <button (click)="waitAlert()" id="waitAlert">Wait for Alert</button>
    <button (click)="presentAlert()" id="presentAlert">Present Alert</button>

    <iframe src="http://www.ign.com" id="iframe"></iframe>
</div>
