<div class="menu">

  <div class="menu__menu">

    <div class="menu__menu-title">Docs</div>

    <div class="menu__menu-label" id="start" [routerLink]="['start']" [routerLinkActive]="['menu__menu-label-active']">Get Started</div>
    <div class="menu__menu-label" id="steps" [routerLink]="['steps']" [routerLinkActive]="['menu__menu-label-active']">Steps</div>

  </div>

  <div class="menu__container">

    <router-outlet></router-outlet>

  </div>


</div>
