<div *ngIf="report" class="report">

  <div class="report__features">

    <div class="report__result" [ngClass]="{'report__result-pass':report.result, 'report__result-fail':!report.result}">
      <div class="report__result-group">
        <div class="report__result-icon">
          <i *ngIf="report.result" class="fa fa-check report__test-icon" aria-hidden="true"></i>
          <i *ngIf="!report.result" class="fa fa-times report__test-icon" aria-hidden="true"></i>
        </div>
        <div *ngIf="!report.message" class="report__result-message">{{report.status}}</div>
        <div *ngIf="report.message" class="report__result-message">{{report.message}}</div>
      </div>
      <div *ngIf="report.hasOwnProperty('duration')" class="report__result-group report__result-group-expand">
          <i class="far fa-clock report__result-icon"></i>
          <div class="report__result-time">{{report.duration}}</div>
      </div>
    </div>

    <div *ngFor="let report of report.reports; let i = index" class="report__feature">
      <div class="report__feature-button" (click)="toggleReport(report)" [attr.title]="report.path" [ngClass]="{'report__feature-incomplete':report.status == 'Queued', 'report__feature-failure': report.result == false && !report.fail, 'report__feature-success': report.result == true && !report.fail, 'report__feature-expected-failure': report.result == false && report.fail, 'report__feature-unexpected-success': report.result == true && report.fail}">
        <div class="report__feature-number">{{i + 1}}</div>
        <div class="report__feature-name">{{report.name}}</div>
        <div class="report__feature-result">
          <i *ngIf="report.status != 'Running' && report.result === true" class="fas fa-check report__feature-icon" aria-hidden="true"></i>
          <i *ngIf="report.status != 'Running' && report.result === false" class="fas fa-times report__feature-icon" aria-hidden="true"></i>
          <i *ngIf="report.status == 'Running'" class="fas fa-cog fa-spinner fa-pulse report__feature-icon" aria-hidden="true"></i>
          <i *ngIf="report.status == 'Queued'" class="fas fa-pause report__feature-icon" aria-hidden="true"></i>
        </div>
      </div>
      <app-feature-report *ngIf="report.toggle" [report]="report"></app-feature-report>
    </div>

  </div>

</div>
