@import "../../../styles/colors.scss";
@import "../../../styles/buttons.scss";
@import "../../../styles/report.scss";
@import "../../../styles/fonts.scss";

:host {
  display: flex;
  width: 100%;
  flex-grow: 0;
}

.report {
  @include report;

  &__result {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    font-size: $medium;
    padding: 20px 10px;
    box-shadow: inset 0 0 6px $brand-black;

    &-pass {
      border-color: $green;
      background-color: rgba(73, 204, 144, 0.04);
    }

    &-fail {
      border-color: $red;
      background-color: rgba(240, 152, 168, 0.08);
    }

    &-group {
      display: flex;
      justify-content: flex-end;

      &-expand {
        flex-grow: 1;
        padding: 0 10px;
      }
    }

    &-icon {
      padding: 0 5px;
    }
  }
}

  .feature {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &__feature {
      &-icon {
        padding: 10px;
      }
    }
}
