<div class="form">

  <div *ngIf="type == 'feature'" class="form__group">

    <div class="form__group-field">
      <div class="form__label">Source</div>
      <div class="form__group-input">
        <input class="form__input" placeholder="Input Source Path" [(ngModel)]="feature.source" [ngClass]="{'form__input-error': sourcePathError}" (ngModelChange)="sourcePathChange()">
        <div *ngIf="sourcePathError" class="form__error">{{sourcePathMessage | titlecase}}</div>
      </div>
    </div>

  </div>

  <div *ngIf="type == 'feature'" class="form__group">
    <div class="form__group-field">
      <div class="form__label">Destination</div>
      <div class="form__group-input">
        <input class="form__input" placeholder="Input Destination Path" [(ngModel)]="feature.destination" (ngModelChange)="destinationPathChange()">
        <div *ngIf="destinationPathError" class="form__error">{{destinationPathMessage | titlecase}}</div>
      </div>
    </div>

  </div>

  <div *ngIf="type == 'phrase'" class="form__group form__section">
    <div class="form__label">Source</div>
    <div class="form__group-field">
      <div class="form__label">Path</div>
      <div class="form__group-input">
        <input class="form__input" placeholder="Input Phrase Path" [(ngModel)]="phrase.source" [ngClass]="{'form__input-error': phrasePathError}" (ngModelChange)="sourcePathChange()">
        <div *ngIf="sourcePathError" class="form__error">{{sourcePathMessage | titlecase}}</div>
      </div>
    </div>
  </div>

  <div *ngIf="type == 'phrase'" class="form__group form__section">
    <div class="form__label">Destination</div>
    <div class="form__group-field">
      <div class="form__label">Phrase</div>
      <div class="form__group-input">
        <input class="form__input" placeholder="Input Phrase ID" [(ngModel)]="phrase.phrase" [ngClass]="{'form__input-error': phraseDestinationError}" (ngModelChange)="phraseDestinationChange()">
        <div *ngIf="phraseDestinationError" class="form__error">{{phraseDestinationMessage | titlecase}}</div>
      </div>
    </div>
  </div>
  <div *ngIf="type == 'phrase'" class="form__group">
    <div class="form__group-field">
      <div class="form__label">Path</div>
      <div class="form__group-input">
        <input class="form__input" placeholder="Input Phrase Path" [(ngModel)]="phrase.destination" [ngClass]="{'form__input-error': destinationPathError}" (ngModelChange)="destinationPathChange()">
        <div *ngIf="destinationPathError" class="form__error">{{destinationPathMessage | titlecase}}</div>
      </div>
    </div>
  </div>

  <div class="form__group-buttons">
    <button class="form__button" (click)="cancel()">Cancel</button>
    <button class="form__button" (click)="move()">Submit</button>
  </div>


</div>
