@import '../../styles/fonts.scss';

:host {
  flex-grow: 1;
  display: flex;
  width: 100%;
}

.dashboard {

  &__menu {
    flex-shrink: 0;
  }

  &__environments {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    flex-grow: 1;
    &-message {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 50px;
      font-size: $big;
    }
  }
}
