<div class="dashboard">

  <div class="view-header">
    <div class="view-header__title">Dashboard</div>
  </div>

  <div *ngIf="query" class="dashboard__menu">
    <div *ngIf="environments" class="dashboard__menu-group">
      <app-checkbox-dropdown id="environments" [_options]="environments" [label]="'Environment(s)'"></app-checkbox-dropdown>
    </div>
    <div *ngIf="hosts" class="dashboard__menu-group">
      <app-checkbox-dropdown id="hosts" [_options]="hosts" [label]="'Host(s)'"></app-checkbox-dropdown>
    </div>
    <div *ngIf="browsers" class="dashboard__menu-group">
      <app-checkbox-dropdown id="browsers" [_options]="browsers" [label]="'Browser(s)'"></app-checkbox-dropdown>
    </div>
    <div class="dashboard__menu-group">
      <div class="dashboard__menu-history">
        <div class="dashboard__menu-history-label">History</div>
        <input type="number" class="dashboard__menu-history-input" min="1" max="100" [(ngModel)]="query.history">
      </div>
    </div>
    <div class="dashboard__menu-group-right">
      <div class="dashboard__menu-button" (click)="search()">
        <i class="fas fa-search"></i>
      </div>
    </div>
  </div>

  <div *ngIf="dashboard.length > 0" class="dashboard__environments">
      <app-dashboard-environment *ngFor="let environment of dashboard" class="dashboard__environment" [environment]="environment"></app-dashboard-environment>
  </div>

  <div *ngIf="dashboard.length === 0" class="dashboard__environments">
      <div class="dashboard__environments-message">
        Please execute a search to see results.
      </div>
  </div>

</div>
