@import '../../styles/header.scss';
@import '../../styles/form.scss';
@import '../../styles/input.scss';
@import '../../styles/table.scss';
@import '../../styles/buttons.scss';
@import '../../styles/fonts.scss';
@import '../../styles/test.scss';
@import '../../styles/dropdown.scss';
@import '../../styles/set-table.scss';

:host {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.test {
  @include test;
}

.fa {
  font-size: $big;
}

.set {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__header {
    @include header;

    &-input {
      width: 50px;
      border-radius: 3px;
      box-shadow: 0px 0px 3px 1px $brand-dark-grey;
    }

    &-dropdown {
      position: relative;
      top: 20px;
      left: -50px;
    }

    &-name {
      text-overflow: ellipsis;
      overflow: hidden;
      &-edit {
        background-color: white;
        flex-grow: 1;
      }
    }
  }

  &__container {
    display: flex;
    flex-grow: 1;
    background-color: $brand-white;
    &-loading {
      justify-content: center;
      align-items: center;
      &-message {
        font-size: $biggest;
      }
    }
  }

  &__empty {
    padding: 50px;
    font-size: 24px;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
  }

  &__form {
    height: auto;
    width: 40%;
    align-self: center;
    box-shadow: 0px 2px 5px -1px $brand-black;
    border: none;
    top: 40px;
    position: absolute;
    background-color: $brand-white;
    &-buttons {
      display: flex;
      justify-content: center;
      width: 100%;
      justify-content: flex-end;
      box-shadow: 2px 0px 5px -1px $brand-black;
    }
  }
}

.set-table {
  @include set-table;
}

.form {
  @include form;
  display: flex;
  flex-direction: column;
  border-left-color: $brand-black;
  border-left-style: groove;
  border-left-width: 2px;
  box-shadow: -2px 0px 1px -1px $brand-grey;
  background-color: $brand-white;
  justify-content: flex-start;
  &__group {
    width: auto;
  }
  &__label {
    background-color: $brand-blue;
  }
  &__input {
    margin: 0px 10px;
    &:focus, &:hover {
      background-color: white;
    }
  }

}
