<div *ngIf="set" class="set">

  <div class="set__header">
    <div class="set__header-group">

      <div class="set__header-button app-dropdown" (click)="file = !file">
        <i class="fas fa-bars app-dropdown"></i>
      </div>
      <app-dropdown class="set__header-dropdown" [options]=options [visible]="file" (visibleEvent)="file = $event" (selectEvent)="select($event)"></app-dropdown>
      <div class="set__header-name">{{set.name}}</div>
    </div>

    <div class="set__header-group set__header-group-grow">
      <div class="set__header-separator"></div>
      <input type="number" id="history" [(ngModel)]="history" class="set__header-input" title="Adjust Set History Date Range">
      <div (click)="searchHistory()" class="set__header-button" title="Search">
        <i class="fas fa-search"></i>
      </div>
      <div class="set__header-separator"></div>

      <div (click)="refresh()" class="set__header-button" title="Refresh">
        <i class="fas fa-sync"></i>
      </div>
      <div (click)="run()" class="set__header-button" [ngClass]="{'test__button-green':!running, 'test__button-red':running, 'test__button-disabled':running}" title="Run" [attr.disabled]="running">
        <i *ngIf="!running" class="fas fa-play" aria-hidden="true"></i>
        <i *ngIf="running" class="fas fa-spinner fa-pulse"></i>
      </div>
    </div>
  </div>

  <div *ngIf="!loading" class="set__container">
    <div class="set-table">
      <div class="set-table__numbers">
        <div *ngIf="!addRemove" class="set-table__header set-table__header-main">
          #
        </div>
        <div *ngIf="addRemove" class="set-table__header set-table__header-main set-table__button" (click)="associate()">
          <i class="fas fa-plus"></i>
        </div>
        <div *ngFor="let feature of set.features; let i = index" class="set-table__numbers-cell" [ngClass]="{'set-table__button':addRemove}" (click)="removeFeature(feature)">
          <div *ngIf="!addRemove" class="set-table__number">{{i + 1}}</div>
          <div *ngIf="addRemove" class="set-table__number">
            <i class="fas fa-times"></i>
          </div>
        </div>
      </div>
      <div class="set-table__features">
        <div class="set-table__header set-table__header-main">Features</div>
        <div *ngFor="let feature of set.features" class="set-table__features-item set-table__button" (click)="open(feature)" [attr.title]="feature">{{feature}}</div>
      </div>
      <div class="set-table__column" *ngFor="let report of setHistory">
        <div class="set-table__header set-table__header-button" (click)="confirmViewReport(report)" (contextmenu)="onRightClick(report, $event)" title="Right Click to See More Options">
          <div class="set-table__header-browser">{{report.browser}}</div>
          <div class="set-table__header-date">
            {{report.created| date:'shortDate'}}
          </div>
          <div class="set-table__header-date-time">
            {{report.created| date:'shortTime'}}
          </div>
        </div>
        <ng-container *ngFor="let feature of report.reports">
          <div *ngIf="feature" (click)="confirmViewReport(feature)" (contextmenu)="onRightClick(feature, $event)" class="set-table__reports-cell" [ngClass]="displayReportResult(feature)" title="Right Click to See More Options"></div>
        </ng-container>
      </div>
    </div>
    <div class="set-table__header-fill"></div>
  </div>
  <div *ngIf="loading" class="set__container set__container-loading">
    <div class="set__container-loading-message">
      Loading...
      <i class="fas fa-spinner fa-pulse"></i>
    </div>
  </div>
</div>
