<div class="environments">

  <div class="environments__container">
    <div class="table">
      <div *ngIf="environment" class="table__container">
        <div class="table__row table__header">
          <div class="table__cell">
            <div *ngIf="!ifAdd" class="table__cell-label">#</div>
          </div>
          <div class="table__cell table__cell-expand">
            <div *ngIf="!ifAdd" class="table__cell-label">Name</div>
            <input *ngIf="ifAdd" type="text" class="table__cell-input" placeholder="Input Variable Name" [(ngModel)]="newVariable.name.value">
          </div>
          <div class="table__cell table__cell-expand">
            <div *ngIf="!ifAdd" class="table__cell-label">Value</div>
            <input *ngIf="ifAdd" type="text" class="table__cell-input" placeholder="Input Variable Value" [(ngModel)]="newVariable.value.value">
          </div>
          <div *ngIf="ifAdd" class="table__cell">
            <div class="table__cell-button" (click)="add()" tabindex="0">
              Add
            </div>
          </div>
        </div>
        <div *ngFor="let key of objectKeys(environment.variables); let i = index" class="table__row">
          <div class="table__cell table__cell-row-header" [ngClass]="{'table__cell-clickable':ifAdd}" (click)="remove(key)">
            <div *ngIf="!ifAdd" class="table__cell-content">{{i + 1}}</div>
            <div *ngIf="ifAdd" class="table__cell-content"><i class="fas fa-times"></i></div>
          </div>

          <div class="table__cell table__cell-row-header table__cell-expand">{{key}}</div>
          <div class="table__cell table__cell-expand">{{environment.variables[key]}}</div>
        </div>
      </div>
    </div>
  </div>

</div>
