@import "../../../../styles/table.scss";

:host {
  display: flex;
  flex-grow: 1;
}

.environments {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__container {
    display: flex;
    flex-direction: column;
  }
}

.table {
  @extend .table;
  // &__header {
  //   box-shadow: inset 0px 0px 5px $brand-dark-grey;
  // }
  &__cell {
    overflow-x: scroll;

    &-clickable {
      cursor: pointer;
      &:hover {
        background-color: $brand-grey;
        color: $brand-black;
      }
    }

    &-row-header {
      display: flex;
    }

    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $brand-dark-grey;
      color: $brand-white;
      &:hover {
        background-color: $brand-grey;
        color: $brand-black;
      }
    }

    &-input {
      flex-grow: 1;
      width: auto;
      min-height: 40px;
      border: none;
      padding: 0px 10px;
      box-shadow: inset 0px 0px 5px $brand-dark-grey;
    }
  }

  &__row {
    align-items: center;
  }
}
