<div class="modal">
  <div class="modal__container" *ngIf="modalType">

    <div *ngIf="modalType" class="modal__title">
      {{modalType | titlecase}} {{fileType | titlecase}}
    </div>

    <div *ngIf="modalType != 'associate' && modalType != 'edit' && modalType != 'details'  && modalType != 'queue'" class="form">
      <div class="form__row">
        <div class="form__label">Type</div>
        <select class="form__dropdown" (ngModelChange)="onSelect($event)" [(ngModel)]="selectedOption">
          <option *ngFor="let option of options" [value]="option" (click)="onSelect(option)">{{option | titlecase}}</option>
        </select>
      </div>
    </div>

    <div class="form__group modal__forms">
      <app-new *ngIf="modalType == 'create'"></app-new>
      <app-move *ngIf="modalType == 'move' || modalType == 'copy'"></app-move>
      <app-delete *ngIf="modalType == 'delete'"></app-delete>
      <app-associate *ngIf="modalType == 'associate'"></app-associate>
      <app-edit *ngIf="modalType == 'edit'"></app-edit>
      <app-details *ngIf="modalType == 'details'"></app-details>
      <app-queue *ngIf="modalType == 'queue'"></app-queue>
    </div>

  </div>
</div>
