@import "../../styles/colors.scss";
@import "../../styles/buttons.scss";
@import "../../styles/form.scss";
@import "../../styles/dropdown.scss";

.modal {
  display: flex;
  justify-content: center;
  width: 100%;
  &__title {
    display: flex;
    font-size: $biggest;
    background-color: $brand-blue;
    padding: 5px;
    color: $brand-black;
    &-path {
      display: flex;
      background-color: $brand-white;
      box-shadow: inset 0px 0px 3px $brand-grey;
      margin-left: 10px;
      font-size: 16px;
      font-family: monospace;
      padding: 0 5px;
      overflow-x: scroll;
      user-select: text;
      align-items: center;
    }
  }
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    background-color: white;
    border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 9px $brand-black;
  }
  &__message {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-path {
      display: flex;
      align-items: center;
      background-color: white;
      padding: 3px 10px;
      margin: 10px;
      border-radius: 2px;
      font-family: monospace;
      font-size: 16px;
    }
  }
  &__label {
    display: flex;
    padding: 5px 20px;
    font-size: 18px;
    box-shadow: 0px 0px 2px  c;
    min-width: 60px;
    justify-content: center;
  }
}

.form {
  @include form;
  &__group {
    margin: 20px 20px;
    width: auto;
  }
  &__dropdown {
    flex-grow: 1;
    background-image: linear-gradient(45deg, transparent 50%, $brand-black 50%), linear-gradient(135deg, $brand-black 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 25px) calc(1em - 1px), calc(100% - 15px) calc(1em - 1px), calc(100% - 2.5em) 0.5em;
    background-size: 10px 10px, 10px 10px, 1px 1.5em;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    appearance: none;
  }
  &__label {
    min-width: 100px;
    justify-content: center;
  }
  &__row {
    justify-content: space-between;
  }
}
