<div *ngIf="report" class="feature">

  <div class="feature__result" [ngClass]="{'feature__test-pass':report.result, 'feature__test-fail':!report.result}">
    <div class="feature__result-group">
      <div *ngIf="report.status == 'Running'" class="feature__result-icon">
        <i class="fas fa-spinner fa-pulse feature__test-icon" aria-hidden="true"></i>
      </div>
      <div *ngIf="report.status == 'Done'" class="feature__result-icon">
        <i *ngIf="report.result" class="fa fa-check feature__test-icon" aria-hidden="true"></i>
        <i *ngIf="!report.result" class="fa fa-times feature__test-icon" aria-hidden="true"></i>
      </div>
      <div *ngIf="report.message" class="feature__result-message">{{report.message}}</div>
      <div *ngIf="!report.message" class="feature__result-message">{{report.status}}</div>
    </div>
    <div *ngIf="report.hasOwnProperty('duration')" class="feature__result-group feature__result-group-expand">
        <i class="far fa-clock feature__result-icon"></i>
        <div class="feature__result-time">{{report.duration}}</div>
    </div>
  </div>

  <div class="feature__tests">

    <div *ngFor="let test of report.tests" class="feature__report">

      <div *ngIf="test.type == 'step'" class="feature__test feature__row" [ngClass]="{'feature__test-pass':test.result, 'feature__test-fail':!test.result}">
        <div class="feature__test-icon">
          <i *ngIf="test.result" class="fa fa-check feature__test-icon" aria-hidden="true"></i>
          <i *ngIf="!test.result" class="fa fa-times feature__test-icon" aria-hidden="true"></i>
        </div>

        <div *ngIf="test.result" class="feature__test-label">
          {{test.test}}
        </div>

        <div *ngIf="!test.result" class="feature__test-label">
          {{test.message}}
        </div>
      </div>

      <div *ngIf="test.type == 'scenario'" class="feature__scenario">
        <div class="feature__row feature__row-selectable" (click)="toggleReport(test)" [ngClass]="{'feature__scenario-pass':test.result, 'feature__scenario-fail':!test.result}">
          <div class="feature__test-icon">
            <i *ngIf="test.result" class="fa fa-check feature__test-icon-pass" aria-hidden="true"></i>
            <i *ngIf="!test.result" class="fa fa-times feature__test-icon-fail" aria-hidden="true"></i>
          </div>

          <div class="feature__test-label">
            {{test.text}}
          </div>
        </div>
        <div *ngIf="test.toggle" class="feature__scenario-tests">
          <div *ngFor="let test of test.tests" class="feature__test feature__row feature__scenario-test" [ngClass]="{'feature__test-pass':test.result, 'feature__test-fail':!test.result}">
            <div class="feature__test-icon">
              <i *ngIf="test.result" class="fa fa-check feature__test-icon" aria-hidden="true"></i>
              <i *ngIf="!test.result" class="fa fa-times feature__test-icon" aria-hidden="true"></i>
            </div>

            <div *ngIf="test.result" class="feature__test-label">
              {{test.test}}
            </div>

            <div *ngIf="!test.result" class="feature__test-label">
              {{test.message}}
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
