
@import "../../../styles/colors.scss";
@import "../../../styles/buttons.scss";
@import "../../../styles/buttons.scss";
@import "../../../styles/form.scss";

:host {
  display: flex;
  width: 100%;
  flex-grow: 0;
  overflow-y: scroll;
}

.feature {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__result {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    font-size: $medium;
    padding: 20px 10px;
    box-shadow: inset 0px 0px 6px $brand-black;

    &-pass {
      border-color: $green;
      background-color: rgba(73, 204, 144, 0.04);
    }

    &-fail {
      border-color: $red;
      background-color: rgba(240, 152, 168, 0.08);
    }

    &-group {
      display: flex;
      justify-content: flex-end;
      &-expand {
        flex-grow: 1;
        padding: 0px 10px;
      }
    }

    &-icon {
      padding: 0px 5px;
    }
  }

  &__properties {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: -1px 5px 3px -2px $brand-grey;
    &-section {
      display: flex;
      justify-content: space-between;
      margin: 2px 0px;
    }
    &-label {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      box-shadow: 0px 0px 1px $brand-black;
      background-color: $brand-white;
      min-width: 70px;
    }
    &-value {
      display: flex;
      flex-grow: 1;
      display: flex;
      align-items: center;
      padding: 0px 10px;
      box-shadow: 0px 0px 1px $brand-grey;
      background-color: white;
    }
  }

  &__report {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-height: fit-content;
  }

  &__tests {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    margin: 20px 10px;
  }

  &__row {
    display: flex;
    align-items: center;
    padding: 5px 0;
    flex-grow: 1;
    &-selectable {
      cursor: pointer;
    }
  }

  &__scenario {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 15px;
    font-size: $small;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    &-pass {
      background-color: $lightGreen;
      border-bottom-color: $green;
      &:hover {
        background-color: $green;
      }
    }
    &-fail {
      background-color: $lightRed;
      border-bottom-color: $red;
      &:hover {
        background-color: $red;
      }
    }
    &-test {
      margin: 10px 5px;
    }
    &-tests {
      flex-direction: column;
    }
  }

  &__test {
    font-size: $smallest;
    color: $brand-black;
    display: flex;
    flex-grow: 1;
    border-style: solid;
    border-width: 2px;

    &-label {
      display: flex;
      word-break: break-word;
    }

    &-icon {
      display: flex;
      align-items: center;
      padding: 0px 10px;
    }

    &-pass {
      border-color: $green;
      background-color: rgba(73, 204, 144, 0.04);
    }
    &-fail {
      border-color: $red;
      background-color: rgba(240, 152, 168, 0.08);
    }
  }
}
