<div class="directory">
  <div class="directory__header">
    <div class="directory__header-menu">
      <div *ngFor="let tab of tabs" class="directory__header-tab" [ngClass]="{'directory__header-tab-active': tab.active}" (click)="selectTab(tab)">{{tab.label}}</div>
    </div>
  </div>
  <div *ngIf="selectedTab" class="directory__tree">
    <tree *ngIf="selectedTab.label == 'Tests'" [items]="features"></tree>
    <tree *ngIf="selectedTab.label == 'Phrases'" [items]="phrases"></tree>
    <tree *ngIf="selectedTab.label == 'Sets'" [items]="sets"></tree>
  </div>
</div>
