@import "../../styles/colors.scss";
@import "../../styles/tabs.scss";

:host {
  display: flex;
  width: 100%;
  height: 100%;
}

.directory {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;

  &__header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    min-height: 40px;

    &-menu {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    &-tab {
      @include tab;
      &-active {
        @include active;
      }
    }
  }

  &__text-field {
    margin-top: 30px;
  }

  &__tree {
    display: flex;
    overflow: scroll;
    padding: 10px 5px;
  }
}
