<div class="home">

  <div class="home__title">
    <h1>Welcome to Honeypy</h1>
  </div>

  <div class="home__menu">
      <div *ngFor="let item of menu" id="{{item.label | lowercase}}" class="home__menu-item" (click)="menuSelect(item)">

        <div class="home__menu-item-label">{{item.label}}</div>
        <p class="home__menu-item-description">{{item.description}}</p>
      </div>
  </div>

</div>
