@import "../../styles/colors.scss";
@import "../../styles/states.scss";

.home {
  height: 100%;
  overflow: hidden;
  &__title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $brand-black;
    padding: 0 5%;
    margin-bottom: 40px;
    background-color: $brand-blue;
    box-shadow: 0px 2px 3px 0px $brand-black;
  }
  &__menu {
    overflow: scroll;
    width: 100%;
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: scroll;
    &-item {
      @include transition;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 10px 30px;
      margin: 10px;
      width: 50%;
      box-shadow: 0px 0px 7px $brand-black;
      cursor: pointer;
      &:hover {
        box-shadow: 0px 0px 7px $brand-black;
        background-color: $brand-blue;
        color: $brand-black;
      }

      &:hover .home__menu-item-label::after {
        width: 100%;
      }

      &-label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 20px;
        width: fit-content;

        &::after {
          content: '';
          display: block;
          width: 0;
          height: 5px;
          background: $brand-black;
          transition: width .4s;
        }
      }

      &-description {
        padding-left: 20px;
      }
    }
  }
}
