@import "../../../styles/tabs.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/document.scss";

:host {
  width: 100%;
  display: flex;
}

.steps {
  display: flex;
  width: 100%;
  flex-direction: column;

  &__menu {
    display: flex;
    width: 100%;
    margin-top: 2px;
    min-height: 40px;

    &-item {
      font-size: 20px;
      min-height: 40px;
      @include tab;

      &-active {
        @include active;
      }
    }
  }
}

.document {
  @include document;
}
