<div class="steps">

  <div class="steps__menu">
    <div *ngFor="let tab of tabs" class="steps__menu-item" [ngClass]="{'steps__menu-item-active': tab.active}" (click)="selectTab(tab)">{{tab.label}}</div>
  </div>

  <div *ngIf="selectedTab.label == 'Given'" class="document">
    <div *ngIf="steps" class="document__list">
      <div *ngFor="let step of steps.given" class="document__item document__border">
        <div *ngIf="step.step" class="document__item-label document__item-field">{{step.step}}</div>
        <div *ngIf="step.description" class="document__item-description document__item-field">{{step.description}}</div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedTab.label == 'When'" class="document">
    <div *ngIf="steps" class="document__list">
      <div *ngFor="let step of steps.when" class="document__item document__border">
        <div *ngIf="step.step" class="document__item-label document__item-field">{{step.step}}</div>
        <div *ngIf="step.description" class="document__item-description document__item-field">{{step.description}}</div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedTab.label == 'Then'" class="document">
    <div *ngIf="steps" class="document__list">
      <div *ngFor="let step of steps.then" class="document__item document__border">
        <div *ngIf="step.step" class="document__item-label document__item-field">{{step.step}}</div>
        <div *ngIf="step.description" class="document__item-description document__item-field">{{step.description}}</div>
      </div>
    </div>
  </div>

<div>
