@import "../../styles/colors.scss";
@import "../../styles/buttons.scss";
@import "../../styles/menu.scss";

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu {
  @extend .menu;
  &__header-button-text {
    font-weight: bold;
  }
}

.settings {

  &__star {

    &-selected {
      color: #fff229;
      box-shadow: inset 0px 0px 2px 2px $brand-dark-grey;
    }
  }
}
