<div class="menu">

  <div class="menu__menu">

    <div class="menu__menu-title">Settings</div>

    <div class="menu__menu-label" [routerLink]="['hosts']" [routerLinkActive]="['menu__menu-label-active']" (click)="setHeader('hosts')">Host Management</div>
    <div class="menu__menu-label" [routerLink]="['environments']" [routerLinkActive]="['menu__menu-label-active']" (click)="setHeader('environments')">Environments</div>
    <div class="menu__menu-label" (click)="navigateRqDasboard()">Queues <i class="fas fa-external-link-alt"></i></div>

  </div>

  <div class="menu__container">

    <div class="menu__header">

      <div class="menu__header-group">
        <i *ngIf="header == 'environment'" class="fas fa-chevron-left menu__header-button" aria-hidden="true" (click)="back()" title="Back"></i>
        <div class="menu__header-title">{{title}}</div>
      </div>

      <div *ngIf="header == 'hosts'" class="menu__header-group">
        <div *ngIf="!ifAdd && header" class="menu__header-button" (click)="create()" title="New">
          <i class="fas fa-plus" aria-hidden="true"></i>
        </div>
      </div>

      <div *ngIf="header == 'environments' || header == 'environment'" class="menu__header-group">
        <div *ngIf="!ifAdd && header == 'environments'" class="menu__header-button" (click)="create()" title="New">
          <i class="fas fa-plus" aria-hidden="true"></i>
        </div>
        <div *ngIf="ifAdd && header == 'environments'" class="menu__header-button" (click)="closeAdd()" title="Cancel">
          <i class="fas fa-times" aria-hidden="true"></i>
        </div>
        <div *ngIf="environment && header == 'environment'" class="menu__header-button" (click)="selectEnvironment()" title="Select Environment" [ngClass]="{'settings__star-selected':environment.name == selectedEnvironment, 'settings__star':environment.name != selectedEnvironment}">
          <i class="fas fa-star"></i>
        </div>
        <div *ngIf="header == 'environment' && !ifAdd" class="menu__header-button" (click)="create()" title="Add/Remove">
          <i class="fas fa-pencil-alt" aria-hidden="true"></i>
        </div>
        <div *ngIf="header == 'environment' && ifAdd" class="menu__header-button" (click)="closeAdd()" title="Cancel Edit">
          <i class="fas fa-times" aria-hidden="true"></i>
        </div>
        <div *ngIf="header == 'environment'" class="menu__header-button" (click)="delete()" title="Delete">
          <i class="fas fa-trash-alt" aria-hidden="true"></i>
        </div>
      </div>

    </div>

    <router-outlet></router-outlet>

  </div>


</div>
